<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<!--  OLD
	<ul>
		<li th:fragment="shopRow" class="shop-entry">
			<hr />
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-3">
						<img src="" th:src="@{${shop.image}}" height="100" width="100"
							class="picture" />
					</div>
					<div class="col-lg-9">
						<table>
							<tr>
								<td><a href="#" th:href="@{/shops/{id}(id=${shop.id})}">
										<span th:text="${shop.name}">Nome negozio</span>
								</a></td>
							</tr>
							<tr th:if="${owner==true and shop.authorized==false}">
								<td><span style="background-color: red; color: white;">Waiting
										for administrator approval</span></td>
							</tr>
							<tr>
								<td><span th:text="${shop.description}">Descrizione</span></td>
							</tr>
							<tr>
								<td><span>Indirizzo: <span th:text="${shop.address}">Indirizzo</span></span>
								</td>
							</tr>
							<tr>
								<td><span>Categorie: <span
										th:each="cat : ${shop.categories}" th:text="${cat.name}">categorie</span></span>
								</td>
							</tr>
							<tr>
								<td><span>Gestito da: <a href="#"
										th:href="@{/accounts/{id}(id=${shop.owner.id})}"><span
											th:text="${shop.owner.ragioneSociale}">Nome
												proprietario</span></a></span></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</li>
	</ul>
	
	
 -->
	<div class="list-group">
		<div th:fragment="shopRow">
			<div class="shop-entry list-group-item"
				th:with="shopLink=@{/shops/{id}(id=${shop.id})}">
				<div class="media col-md-3">
					<a th:href="${shopLink}"> <img
						class="media-object img-rounded img-responsive"
						th:src="@{${shop.image!=null ? shop.image : '//placehold.it/350x250'}}"
						src="//placehold.it/350x250" alt="placehold.it/350x250" />
					</a>
				</div>
				<div class="col-md-6">
					<h3 class="list-group-item-heading">
						<a th:href="${shopLink}" th:text="${shop.name}">Shop Title</a>
					</h3>
					<p class="list-group-item-text"
						th:text="${#strings.abbreviate(shop.description, 250)}">Shop
						long description.</p>

					<span>Address: </span>
					<p class="list-group-item-text" th:text="${shop.address}">Shop
						Address.</p>
					<br /> <span>Managed by: </span> <a href="#"
						th:href="@{/accounts/{id}(id=${shop.owner.id})}"
						th:text="${shop.owner.user.username}">Seller Username</a>
				</div>
				<div class="col-md-3 text-center">
					<p th:if="${!shop.isAuthorized()}" class="alert alert-warning">
						Waiting for administrator approval.
					</p>
				</div>
			</div>

		</div>
	</div>



	<div th:fragment="shopDetails" class="col-md-9">

		<div class="thumbnail">
			<h3 th:text="${shop.name}" class="text-center">Shop Name</h3>
			<div id="shop-carousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#shop-carousel" data-slide-to="0" class="active"></li>
					<li data-target="#shop-carousel" data-slide-to="1"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="//placehold.it/600x300" th:src="@{${shop.image}}" />
						<div class="carousel-caption">
							<p th:text="${shop.name}">Shop Name</p>
						</div>
					</div>
					<div class="item">
						<img src="//placehold.it/800x300"
							th:src="@{https://maps.googleapis.com/maps/api/staticmap(zoom=13,size='800x400',scale='2',maptype='roadmap',markers='color:red|label:'+${shop.name}+'|'+${shop.latitude}+','+${shop.longitude})}"
							width="800" height="300" />
						<div class="carousel-caption">
							<p th:text="${shop.address}">Address</p>
						</div>
					</div>
				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#shop-carousel" role="button"
					data-slide="prev"> <span
					class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a> <a class="right carousel-control" href="#shop-carousel"
					role="button" data-slide="next"> <span
					class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<div class="caption-full">
				<h4 th:text="${shop.address}">Shop Address</h4>

				<hr />

				<p th:text="${shop.description}" class="shop-description">LONG
					SHOP DESCRIPTION</p>

				<hr />
				<span>Phone Number</span> <span th:text="${shop.phoneNumber}"
					class="shop-phoneNumber">Phone Number: </span>

				<div class="pull-right">
					<span>Managed by: </span> <a href="#"
						th:href="@{/accounts/{id}(id=${shop.owner.id})}"
						th:text="${shop.owner.user.username}">Seller Username</a>
				</div>
				<hr />


				<div th:if="${shop.isAuthorized()}" class="ratings">
					<p class="pull-right">9 reviews</p>
					<p>
						<span class="glyphicon glyphicon-star"></span> <span
							class="glyphicon glyphicon-star"></span> <span
							class="glyphicon glyphicon-star"></span> <span
							class="glyphicon glyphicon-star"></span> <span
							class="glyphicon glyphicon-star-empty"></span> 4.0 stars
					</p>
				</div>
			</div>
		</div>

		<div th:if="${shop.isAuthorized()}" class="well">

			<div>
				<span class="pull-right"> <a href="#" class="btn btn-default"
					tooltip="tooltip" data-placement="top" title="Show All Reviews"
					onclick="click_show_all_reviews();"> Show all reviews </a>
				</span>
				<h3>Best Reviews</h3>
			</div>

			<div th:replace='fragments/reviews/some_reviews :: examples'></div>

		</div>

	</div>
</body>
</html>