<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/authenticated-layout">

<!-- Page head -->
<head>
<title th:text="#{homePage.title}">Shop Creation</title>
</head>

<!-- Page body -->
<body>

	<div layout:fragment="content">
		<div>
			<h1>Create a new shop</h1>
			
			<!-- IMPORTANT: Note the CSRF token placed in query params for problems with Multipart/Form encoding -->
			<form action="#" th:action="@{${formAction}+'?'+${_csrf.parameterName}+'='+${_csrf.token}}" th:object="${shopRequestForm}" method="post" enctype="multipart/form-data">
 				<p>Name: <input type="text" th:field="*{name}" />
    				<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
    			</p>    			
	         	<p>Address: <input type="text" id="address"
												name="address" th:field="*{address}" maxlength="128" required="required" />
					<span th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Name Error</span>
				</p>
        		<p>P. IVA: <input type="text" th:field="*{partitaIVA}" />
        			<span th:if="${#fields.hasErrors('partitaIVA')}" th:errors="*{partitaIVA}">Name Error</span>
        		</p>
        		<p>Phone Number: <input type="text" th:field="*{phoneNumber}" />
	        		<span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Name Error</span>
        		</p>
        		<p>Description: <input type="text" th:field="*{description}" />
        			<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name Error</span>
        		</p>
        		<p>Categories: 
        			<select multiple="multiple" th:field="*{categories}">
        				<option th:each="cat : ${shopCategories}" th:value="${cat.id}" th:text="${cat.name}">Category</option>
        			</select>
        		</p>
        		<p>Shop Picture: <input type="file" th:field="*{picture}" required="required"/>
        			<span th:if="${#fields.hasErrors('picture')}" th:errors="*{picture}">Name Error</span>
        		</p>
        		<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    		</form>  
		</div>
				<!-- /.box -->
	</div>
	<!-- End content -->
</body>

</html>