<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/authenticated-layout">

<!-- Page head -->
<head>
<title th:text="#{homePage.title}">Shop Creation</title>

<!-- Shops Custom CSS -->
<link href="css/shops.css" th:href="@{/static/assets/css/shops.css}"
	rel="stylesheet" />

</head>

<!-- Page body -->
<body>

	<!-- SIDEBAR -->
	<div layout:fragment="sidebar-content">
		<ul class="nav nav-stacked sidebar-nav">
			<li><a th:href="@{/shops/my}" href="#"> <i
					class="fa fa-arrow-circle-left"></i> Back to Shops List
			</a></li>
		</ul>
	</div>

	<div layout:fragment="page-content" class="tab-content">

		<div class="row tab-pane fade in active" id="new_shop">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Create a new Shop</h3>
				</div>
				<div class="panel-body">
					<div class="row">

						<form class="form-horizontal" action="#"
							th:action="@{${formAction}+'?'+${_csrf.parameterName}+'='+${_csrf.token}}"
							th:object="${shopRequestForm}" method="post"
							enctype="multipart/form-data" role="form">

							<div class="col-md-12">
								<div th:if="${newShopErrorMsg} != null"
									class="alert alert-danger alert-dismissable">
									<a class="panel-close close" data-dismiss="alert">×</a>
									<p th:text="${newShopErrorMsg}" class="help-block">Error
										message !</p>
								</div>

								<div th:if="${newShopInfoMsg} != null"
									class="alert alert-info alert-dismissable">
									<a class="panel-close close" data-dismiss="alert">×</a>
									<p th:text="${newShopInfoMsg}" class="help-block">Info
										message !</p>
								</div>

								<div class="form-group"
									th:classappend="${#fields.hasErrors('name')}? 'has-error'">
									<label class="col-md-3 control-label">Name:</label>
									<div class="col-md-8">
										<input th:field="*{name}" class="form-control" type="text"
											placeholder="Name" /> <span
											th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
											class="help-block">Incorrect Name</span>
									</div>
								</div>
								
								<div class="form-group"
									th:classappend="${#fields.hasErrors('address')}? 'has-error'">
									<label class="col-md-3 control-label">Address:</label>
									<div class="col-md-8">
										<input type="text" th:field="*{address}"
											class="form-control" placeholder="Address" /><span
											th:if="${#fields.hasErrors('address')}"
											th:errors="*{address}" class="help-block">Incorrect
											Address</span>
									</div>
								</div> 
																
								<div class="form-group"
									th:classappend="${#fields.hasErrors('partitaIVA')}? 'has-error'">
									<label class="col-md-3 control-label">VAT Number: </label>
									<div class="col-md-8">
										<input type="text" th:field="*{partitaIVA}"
											class="form-control" placeholder="VAT Number" /><span
											th:if="${#fields.hasErrors('partitaIVA')}"
											th:errors="*{partitaIVA}" class="help-block">Incorrect
											VAT Number</span>
									</div>
								</div> 
								
								<div class="form-group"
									th:classappend="${#fields.hasErrors('phoneNumber')}? 'has-error'">
									<label class="col-md-3 control-label">Phone Number: </label>
									<div class="col-md-8">
										<input type="text" th:field="*{phoneNumber}"
											class="form-control" placeholder="Phone Number" /><span
											th:if="${#fields.hasErrors('phoneNumber')}"
											th:errors="*{phoneNumber}" class="help-block">Incorrect
											Phone Number</span>
									</div>
								</div> 
								

								<div class="form-group"
									th:classappend="${#fields.hasErrors('description')}? 'has-error'">
									<label class="col-md-3 control-label">Description:</label>
									<div class="col-md-8">
										<textarea th:field="*{description}" class="form-control"
											placeholder="Description"></textarea>
										<span th:if="${#fields.hasErrors('description')}"
											th:errors="*{description}" class="help-block">Incorrect
											Description</span>
									</div>
								</div>

								<div class="form-group shop-image"
									th:classappend="${#fields.hasErrors('picture')}? 'has-error'">
									<label class="col-md-3 control-label">Shop Image:</label>
									<div class="input-group col-md-8">
										<div class="input-group-btn">
											<div class="btn btn-primary btn-file">
												Browse... <input type="file" th:field="*{picture}"
													onchange="var input = $(this); var target = $('#new_img_filename'); var label = input.val().replace(/\\/g, '/').replace(/.*\//, ''); target.val(label);" />
											</div>
										</div>
										<input id="new_img_filename" type="text" class="form-control"
											readonly="readonly" />
									</div>
								</div>

								<div class="form-group"
									th:classappend="${#fields.hasErrors('picture')}? 'has-error'">
									<label class="col-md-3 control-label"></label> <span
										class="col-md-8 help-block"
										th:if="${#fields.hasErrors('picture')}" th:errors="*{picture}">Problem
										with Picture</span>
								</div>

								<div class="form-group"
									th:classappend="${#fields.hasErrors('categories')}? 'has-error'">
									<label class="col-md-3 control-label">Categories:</label>
									<div class="col-md-8">

										<select
											class="form-control selectpicker show-tick show-menu-arrow"
											multiple="multiple" data-max-options="3"
											data-live-search="true" title='Choose categories...'
											data-width="100%" data-size="10" th:field="*{categories}">
											<option th:each="cat : ${shopCategories}"
												th:value="${cat.id}" th:text="${cat.name}">Category</option>
										</select> <span th:if="${#fields.hasErrors('categories')}"
											th:errors="*{categories}" class="help-block">Incorrect
											Categories</span>
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label"></label>
									<div class="col-md-8">
										<input type="submit" class="btn btn-primary" value="Save" />
										<span></span> <input type="reset" class="btn btn-default"
											value="Cancel" />
									</div>
								</div>

								<input type="hidden" name="csrf"
									th:name="${_csrf.parameterName}" th:value="${_csrf.token}"
									value="csrf.token" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>