<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/authenticated-layout">

<!-- Page head -->
<head>
<title th:text="#{homePage.title}">My Shops</title>
<link href="css/shops.css" th:href="@{/static/assets/css/shops.css}"
	rel="stylesheet" />

</head>

<!-- Page body -->
<body>


	<div layout:fragment="sidebar-content" id="sidebar-nav">

		<ul class="nav nav-stacked sidebar-nav">
			<li><a href="#"
				th:href="@{/shops/new}"> <i class="fa fa-plus-square"></i>New
					shop
			</a></li>
		</ul>

	</div>


	<div layout:fragment="page-content">
		<div>
			<h1>Shops</h1>

			<div th:include='fragments/pagination :: paginationDetails'></div>

			<div class="list-group" th:with="owner=true">
				<div th:each="shop : ${shops}"
					th:include="/fragments/shops/shop :: shopRow"></div>
			</div>

			<div th:include='fragments/pagination :: paginationBar'></div>
		</div>
		<!-- /.box -->
	</div>
	<!-- End content -->
</body>

</html>