<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/authenticated-layout">

<!-- Page head -->
<head>
<link href="css/shops.css" th:href="@{/static/assets/css/shops.css}"
	rel="stylesheet" />
	
<title th:text="#{homePage.title}">Shops</title>
</head>

<!-- Page body -->
<body>
	<div layout:fragment="sidebar-content"></div>
	<div layout:fragment="page-content">
		<div>
			<h1>Shops</h1>
		    <div th:include='fragments/pagination :: paginationDetails'></div>
			
		    <div class="list-group">
		    	<div th:each="shop : ${shops}" th:include="/fragments/shops/shop :: shopRow">
		    	</div>
		    </div>	
		    
		    <div th:include='fragments/pagination :: paginationBar'></div>
		</div>
		<!-- /.box -->
	</div>
	<!-- End content -->
</body>

</html>