<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/authenticated-layout">


<!-- Page head -->
<head>
<title th:text="#{homePage.title}">Shop details</title>
<!-- Shops Custom CSS -->
<link href="css/shops.css" th:href="@{/static/assets/css/shops.css}"
	rel="stylesheet" />
<!-- Deals Custom CSS -->
<link href="css/deals.css" th:href="@{/static/assets/css/deals.css}"
	rel="stylesheet" />

</head>

<!-- Page body -->
<body>

	<div layout:fragment="sidebar-content" id="sidebar-nav">

		<ul class="nav nav-stacked sidebar-nav">
			<li class="active"><a href="#info" data-toggle="pill"> <i
					class="fa fa-info-circle"></i> Information
			</a></li>
			<li th:if="${shop.isAuthorized()}"><a href="#edit"
				data-toggle="pill"> <i class="fa fa-edit"></i> Edit
			</a></li>
			<li th:if="${shop.isAuthorized()}"><a href="#reviews"
				data-toggle="pill"> <i class="fa fa-star-half-o"></i> All Reviews
			</a></li>
			<li th:if="${shop.isAuthorized()}"><a href="#more-reviews"
				data-toggle="pill"> <i class="fa fa-arrow-circle-o-up"></i> Increase Reviews
			</a></li>
			<li th:if="${shop.isAuthorized()}"><a href="#deals"
				data-toggle="pill"> <i class="fa fa-shopping-cart"></i> Deals
			</a></li>
			<li th:if="${shop.isAuthorized()}"><a
				th:href="@{/shops/{shopId}/deals/new(shopId=${shop.id})}" href="#">
					<i class="fa fa-plus-square"></i> New Deal
			</a></li>
		</ul>

	</div>

	<div layout:fragment="page-content" class="tab-content">
		<script type="text/javascript">
			function click_show_all_reviews() {
				document.querySelectorAll("[href='#reviews']")[0].click();
			}
		</script>

		<p th:if="${!shop.isAuthorized()}" class="alert alert-warning">
			<big> Shop Created!<br />Waiting for administrator approval.
			</big>
		</p>

		<div th:include="/fragments/shops/shop :: shopDetails" id="info"
			class="tab-pane fade in active"></div>

		<div id="edit" class="tab-pane fade in">
			<h3>Edit Shop</h3>
			<h3>Under Construction!!</h3>

		</div>

		<div th:if="${shop.isAuthorized()}" id="reviews" class="tab-pane fade">
			<div class="thumbnail">
				<div class="caption-full">
					<h3 th:text="${shop.name}">Shop Name</h3>
					<br />
					<div class="ratings">
						<p class="pull-right">9 reviews</p>
						<p>
							<span class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star-empty"></span> 4.0 stars
						</p>
					</div>
				</div>
			</div>
			<div class="well">

				<div>
					<h3>Reviews</h3>
				</div>

				<div th:replace='fragments/reviews/some_reviews :: examples'></div>
				<div th:replace='fragments/reviews/some_reviews :: examples'></div>
				<div th:replace='fragments/reviews/some_reviews :: examples'></div>

			</div>

		</div>

		<div th:if="${shop.isAuthorized()}" id="more-reviews"
			class="tab-pane fade">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Increase Reviews</h3>
				</div>
				<div class="panel-body">
					<h3>Put this Qr Code in your shop!</h3>
					<img src="//placehold.it/150x150" th:src="@{${QrCodeUrl}}"
						alt="Review QR-code" />
				</div>
			</div>
		</div>

		<div th:if="${shop.isAuthorized()}" id="deals" class="tab-pane fade">
			<h2>Deals in the shop</h2>

			<div th:include='fragments/pagination :: paginationDetails'></div>

			<div class="list-group">
				<div th:each="deal : ${deals}"
					th:include="fragments/deals/deal :: dealRow"></div>
			</div>

			<div th:include='fragments/pagination :: paginationBar'></div>
		</div>

	</div>
</body>

</html>