<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/authenticated-layout">


<!-- Page head -->
<head>
<title th:text="#{homePage.title}">Deal details</title>
<!-- Shops Custom CSS -->
<link href="css/shops.css" th:href="@{/static/assets/css/shops.css}"
	rel="stylesheet" />

</head>

<!-- Page body -->
<body>

	<div layout:fragment="content">
		<div class="container">
			<div class="alert alert-warning">
				<span>Unreachable Shop</span> <br /> <br /> <a href="#"
					th:href="@{/shops}">Go Back</a>
			</div>
		</div>
	</div>
</body>

</html>