<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/authenticated-layout">

<!-- Page head -->
<head>
	<title th:text="#{homePage.title}">Home page</title>
</head>

<!-- Page body -->
<body>

	<div layout:fragment="content">
        <div>
			<ul>
				 <li>
				 	<a href="#" th:href="@{/accounts/me}">Profile</a>
                 </li>
                 <li>
				 	<a href="#" th:href="@{/deals}">Deals</a>
                 </li>
                 <li>
				 	<a href="#" th:href="@{/shops}">Shops</a>
                 </li>
			</ul>
    	</div>
	</div> <!-- /.page-content -->
	<!-- End content -->
</body>

</html>