<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/common-layout">

<!-- Page head -->
<head>
<title th:text="#{registration.title}"></title>
</head>

<!-- Page body -->
<body>

	<div layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">                  
                	<h1>Registration page</h1>  
                    <p th:if="${errorMessage} != null" th:text="${errorMessage}">Error message !</p>

                    <form th:attr="action=@{/registration}" th:object="${user}" method="POST">
                    <!-- 
	                    <ul th:if="${#fields.hasErrors('*')}">
						  <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
						</ul>
					 -->
					 
					 
                        <input id="user-firstname" name="firstName" type="text" placeholder="Name" th:field="*{firstName}" onkeypress="check_values();"/>
                        
                        <input id="user-lastname" name="lastName" type="text" placeholder="Last Name" th:field="*{lastName}" onkeypress="check_values();"/>
                        
                        <input id="user-email" name="email" type="text" placeholder="Email" th:field="*{email}" onkeypress="check_values();"/>
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect email</p>
                        
                        <input id="user-username" name="username" type="text" placeholder="Username" th:field="*{username}" onkeypress="check_values();"/>
                        <div class="row" th:if="${user.signInProvider == null}">
	                        <input id="user-password" name="password" type="password" placeholder="Password" th:field="*{password}"/>
	                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect password</p>
	                        
	                        <input id="user-passwordVerification" name="passwordVerification" type="password" placeholder="Password Verification" th:field="*{passwordVerification}"/>
	                        <p th:if="${#fields.hasErrors('passwordVerification')}" th:errors="*{passwordVerification}">Incorrect password verification</p>
                    	</div>
                        <input th:if="${user.signInProvider != null}" type="hidden" name="signInProvider" th:field="*{signInProvider}"/>
                        <input type="hidden" name="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" value="csrf.token"/>
                        <button type="submit" id="login-dialog-btn-submit" class="btn btn-login">
                            <span class="fa fa-lock medhidden"></span>
                        </button>
                    </form>
                </div>                
            </div>
			
			<!-- Social Sign In Buttons -->
		    <div class="panel panel-default">
		        <div class="panel-body">
		            <h2><spring:message code="label.social.sign.in.title"/></h2>
		            <div class="row">
		                <div class="col-lg-4">
		                    <!-- Add Facebook sign in button -->
		                    <a th:attr="href=@{/auth/facebook}"><button class="btn btn-facebook"><i class="fa fa-facebook"></i> | Sign in with Facebook</button></a>
		                </div>
		                
		                <div class="col-lg-4">
		                    <!-- Add Facebook sign in button -->
		                    <a th:attr="href=@{/auth/twitter}"><button class="btn btn-twitter"><i class="fa fa-twitter"></i> | Sign in with Twitter</button></a>
		                </div>
		            </div>
		        </div>
		    </div>
        </div>
        <!-- /.container -->

	</div>
	<!-- End content -->
</body>

</html>