<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/public-layout">

<!-- Page head -->
<head>
<title th:text="#{registration.title}"></title>
</head>

<!-- Page body -->
<body>
	<div layout:fragment="show-error"></div>

	<div layout:fragment="content">
		<div class="container">

			<div id="signupbox" style="margin-top: 50px"
				class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div class="panel panel-info">
					<div class="panel-heading">
						<div class="panel-title">Please sign up for LastMinuteFood &nbsp; <small>It's free!</small></div>
						<div
							style="float: right; font-size: 85%; position: relative; top: -10px">
							<a id="signinlink" th:attr="href=@{/login}">Sign In</a>
						</div>
					</div>
					<div class="panel-body">
						
						<div th:if="${errorMsg} != null" id="signup-alert" class="alert alert-danger">
							<p th:text="${errorMsg}" class="help-block">Error message !</p>
						</div>

						<form id="signupform" th:attr="action=@{/registration}" th:object="${user}" method="POST" role="form">
							<!-- 
                                    <ul th:if="${#fields.hasErrors('*')}">
                                      <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                                    </ul>
                                 -->
                           	<div class="form-group" th:classappend="|${#fields.hasErrors('username')? 'has-error':''} ${user.signInProvider!=null? 'hidden':''}|">
								<input type="text" th:field="*{username}" name="username" id="username"
									class="form-control" placeholder="Username" />
								<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="help-block">Incorrect Username</span>
							</div>
							
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-error'">
										<input type="text" th:field="*{firstName}" name="first_name"
											id="first_name" class="form-control"
											placeholder="First Name" />											
										<span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="help-block">Incorrect FirstName</span>
									</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-error'">
										<input type="text" th:field="*{lastName}" name="last_name"
											id="last_name" class="form-control"
											placeholder="Last Name" />
										<span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="help-block">Incorrect LastName</span>
									</div>
								</div>
							</div>

							<div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
								<input type="email" th:field="*{email}" name="email" id="email"
									class="form-control" placeholder="Email Address" />
								<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="help-block">Incorrect Email</span>
							</div>

							<div class="row" th:if="${user.signInProvider == null}">
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
										<input type="password" th:field="*{password}" name="password"
											id="password" class="form-control"
											placeholder="Password" />
										<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="help-block">Incorrect Password</span>
									</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="form-group" th:classappend="${#fields.hasErrors('passwordVerification')}? 'has-error'">
										<input type="password" th:field="*{passwordVerification}"
											name="password_confirmation" id="password_confirmation"
											class="form-control" placeholder="Confirm Password" />
										<span th:if="${#fields.hasErrors('passwordVerification')}" th:errors="*{passwordVerification}" class="help-block">Incorrect PasswordVerification</span>
									</div>
								</div>
							</div>

							<input th:if="${user.signInProvider != null}" type="hidden" name="signInProvider" th:field="*{signInProvider}"/>
	                        <input type="hidden" name="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" value="csrf.token"/>

							<div class="form-group">
								<!-- Button -->
								<button id="btn-signup" type="submit" class="btn btn-info">
									<i class="icon-hand-right"></i> &nbsp; Sign Up
								</button>
							</div>
						</form>
<!-- 
						<div class="row omb_loginOr">
							<div class="col-xs-12 col-sm-6">
								<hr class="omb_hrOr"/>
								<span class="omb_spanOr">or</span>
							</div>
						</div>
 -->
 
						<div style="border-top: 1px solid #999; padding-top: 20px"
							class="form-group">

							<form th:attr="action=@{/auth/facebook}" method="get">
								<!-- Add Facebook sign in button -->
								<input type="hidden" name="scope" value="email,user_location" />
								<button type="submit" class="btn btn-primary btn-facebook">
									<i class="fa fa-facebook"> &nbsp; | Sign up with Facebook</i>
								</button>
							</form>


						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>