<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/authenticated-layout">

<!-- Page head -->
<head>
<title th:text="#{homePage.title}">Accounts</title>
</head>

<!-- Page body -->
<body>

	<div layout:fragment="content">
		<div>
			<h1>Accounts Set</h1>
  
		    <table>
		      <tr>
		        <th>ID</th>
		        <th>USERNAME</th>
		      </tr>
		      <tr th:each="user : ${users}">
		        <td th:text="${user.id}">Onions</td>
		        <td th:text="${user.username}">2.41</td>		        
		      </tr>
		    </table>
		  
		    <p>
		      <a href="../" th:href="@{/}">Return to home</a>
		    </p>
				</div>
				<!-- /.box -->
			</div>
	<!-- End content -->
</body>

</html>