<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/common-layout">

<!-- Page head -->
<head>
<title th:text="#{homePage.title}">Administration</title>

<!-- Administration CSS -->
<link href="css/administration.css"
	th:href="@{/static/assets/css/administration.css}" rel="stylesheet" />

</head>

<!-- Page body -->
<body>

	<div layout:fragment="content">
		<div class="container">

			<div class="col-md-8">

				<div class="panel panel-info" id="shopsBox">
					<div class="panel-heading">
						<div class="panel-title">Shop Requests</div>
					</div>

					<div class="panel-body">

						<div class="list-group">
							<div class="list-entry list-group-item" th:each="shop:${shops}"
								th:with="shopLink=@{/admin/shops/{id}(id=${shop.id})}">
								<div class="media col-md-3">
									<a th:href="${shopLink}"> <img
										class="media-object img-rounded img-responsive"
										th:src="@{${shop.image}}" src="//placehold.it/350x250"
										alt="placehold.it/350x250" />
									</a>
								</div>
								<div class="col-md-6">
									<h3 class="list-group-item-heading">
										<a th:href="${shopLink}" th:text="${shop.name}">Shop name</a>
									</h3>

									<p class="list-group-item-text description"
										th:text="${#strings.abbreviate(shop.description, 150)}">Shop
										long description.</p>
									<p>
										<span>Address: </span> <span
											class="list-group-item-text address"
											th:text="${shop.address}">Address</span>
									</p>
									<p>
										<span>VAT: </span> <span class="list-group-item-text vat"
											th:text="${shop.partitaIVA}">VAT Number</span>
									</p>
									<p>
										<span>Phone: </span> <span class="list-group-item-text phone"
											th:text="${shop.phoneNumber}">Phone Number</span>
									</p>
									<span>Managed by: </span>
									<a href="#" th:href="@{/admin/users/{id}(id=${shop.owner.id})}"
										th:text="${shop.owner.ragioneSociale}">Owner</a>
								</div>
								<div class="col-md-3 text-center">
									<a
										th:href="@{/admin/requests/shops/{shop-id}/accept(shop-id=${shop.id})}"
										href="#" class="btn btn-block btn-success">Accept</a> <a
										th:href="@{/admin/requests/shops/{shop-id}/reject(shop-id=${shop.id})}"
										href="#" class="btn btn-block btn-danger">Reject</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-info" id="sellersBox">
					<div class="panel-heading">
						<div class="panel-title">Seller Requests</div>
					</div>

					<div class="panel-body">

						<div class="list-group">
							<div class="list-entry list-group-item"
								th:each="seller:${sellers}"
								th:with="sellerLink=@{/admin/users/{id}(id=${seller.id})}">
								<div class="media col-md-3">
									<a th:href="${sellerLink}"> <img
										class="media-object img-rounded img-responsive"
										th:src="${seller.user.image==null}? @{/static/assets/img/profile-img.png} : ${seller.user.image}"
										src="//placehold.it/350x250" alt="placehold.it/350x250" />
									</a>
								</div>
								<div class="col-md-6">
									<h3 class="list-group-item-heading">
										<a th:href="${sellerLink}" th:text="${seller.ragioneSociale}">Shop
											name</a>
									</h3>
									<p>
										<span>VAT: </span> <span class="list-group-item-text vat"
											th:text="${seller.codiceFiscale}">VAT</span>
									</p>
									<p>
										<span>Phone: </span> <span class="list-group-item-text phone"
											th:text="${seller.phoneNumber}">Phone Number</span>
									</p>
									<p>
										<span>Username: </span> <span
											class="list-group-item-text username"
											th:text="${seller.user.username}">Username</span>
									</p>
									<p>
										<span>Name: </span> <span class="list-group-item-text name"
											th:text="${seller.user.firstName}">FirstName</span> <span
											class="list-group-item-text name"
											th:text="${seller.user.lastName}">LastName</span>
									</p>
									<p>
										<span>Email: </span> <a href="#"
											th:href="|mailto: ${seller.user.email}|"
											th:text="${seller.user.email}"
											class="list-group-item-text email">user@email.com</a>
									</p>
								</div>
								<div class="col-md-3 text-center">
									<a
										th:href="@{/admin/requests/sellers/{seller-id}/accept(seller-id=${seller.id})}"
										href="#" class="btn btn-block btn-success">Accept</a> <a
										th:href="@{/admin/requests/sellers/{seller-id}/reject(seller-id=${seller.id})}"
										href="#" class="btn btn-block btn-danger">Reject</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="panel panel-info" id="notificationBox">
					<div class="panel-heading">
						<div class="panel-title">Notification</div>
					</div>

					<div class="panel-body">

						<div class="list-group">
							<div class="list-entry list-group-item"
								th:each="notification:${notifications}">
								
								<a th:href="@{/admin/notifications/{n-id}(n-id=${notification.id})}"
									href="#">
									<img class="img-rounded" th:if="${notification.seller != null}" th:src="${notification.seller.user.image==null}? @{/static/assets/img/profile-img.png} : ${notification.seller.user.image}"/>
									<img class="img-rounded" th:if="${notification.shop != null}" th:src="${notification.shop.image==null}? '//placehold.it/50x50' : ${notification.shop.image}"/>									
									</a>
									
								<a th:text="${notification.message}"
									th:href="@{/admin/notifications/{n-id}(n-id=${notification.id})}"
									href="#">Message</a>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</body>

</html>