<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/authenticated-layout">


<!-- Page head -->
<head>
<title th:text="#{homePage.title}">Shop details</title>
<!-- Shops Custom CSS -->
<link href="css/shops.css" th:href="@{/static/assets/css/shops.css}"
	rel="stylesheet" />

</head>

<!-- Page body -->
<body>

	<div layout:fragment="sidebar-content" id="sidebar-nav">

		<ul class="nav nav-stacked sidebar-nav">
			<li class="active"><a href="#info" data-toggle="pill"> <i
					class="fa fa-info-circle"></i> Information
			</a></li>
			<li th:if="${shop.isAuthorized()}"><a href="#reviews"
				data-toggle="pill"> <i class="fa fa-edit"></i> All Reviews
			</a></li>
		</ul>

	</div>

	<div layout:fragment="page-content" class="tab-content">
		<script type="text/javascript">
			function click_show_all_reviews() {
				document.querySelectorAll("[href='#reviews']")[0].click();
			}
		</script>

		<div class="alert alert-warning" th:if="!${shop.isAuthorized()}">
			<div class="pull-right">
				<a
					th:href="@{/admin/requests/shops/{shop-id}/reject(shop-id=${shop.id})}"
					href="#" class="btn btn-danger">Reject</a> <a
					th:href="@{/admin/requests/shops/{shop-id}/accept(shop-id=${shop.id})}"
					href="#" class="btn btn-success">Accept</a>
			</div>
			<big> Shop Created!<br />Waiting for administrator approval.
			</big>
		</div>


		<div th:include="/fragments/shops/shop :: shopDetails" id="info"
			class="tab-pane fade in active"></div>

		<div th:if="${shop.isAuthorized()}" id="reviews" class="tab-pane fade">
			<div class="thumbnail">
				<div class="caption-full">
					<h3 th:text="${shop.name}">Shop Name</h3>
					<br />
					<div class="ratings">
						<p class="pull-right">9 reviews</p>
						<p>
							<span class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star-empty"></span> 4.0 stars
						</p>
					</div>
				</div>
			</div>
			<div class="well">

				<div>
					<h3>Reviews</h3>
				</div>

				<div th:replace='fragments/reviews/some_reviews :: examples'></div>
				<div th:replace='fragments/reviews/some_reviews :: examples'></div>
				<div th:replace='fragments/reviews/some_reviews :: examples'></div>

			</div>

		</div>

	</div>
</body>

</html>