<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/authenticated-layout">

<!-- Page head -->
<head>
<title th:text="#{homePage.title}">User Account</title>
</head>

<!-- Page body -->
<body>
	<!-- SIDEBAR -->
	<div layout:fragment="sidebar-content">
		<ul class="nav nav-stacked sidebar-nav">
			<li class="active"><a href="#info" data-toggle="pill"> <i
					class="fa fa-info-circle"></i> Information
			</a></li>
			<li th:if="${user.isSeller()}"><a href="#seller-info"
				data-toggle="pill"> <i class="fa fa-usd"></i>&nbsp; Seller
					Information
			</a></li>
		</ul>

	</div>

	<!-- CONTENT -->
	<div layout:fragment="page-content" class="tab-content">

		<div class="row alert alert-warning"
			th:if="${user.isSeller() and !user.seller.isAuthorized()}">
			<div class="pull-right">
				<a
					th:href="@{/admin/requests/sellers/{seller-id}/reject(seller-id=${user.id})}"
					href="#" class="btn btn-danger">Reject</a> <a
					th:href="@{/admin/requests/sellers/{seller-id}/accept(seller-id=${user.id})}"
					href="#" class="btn btn-success">Accept</a>
			</div>
			<big> Seller request done!<br />Waiting for administrator
				approval.
			</big>
		</div>

		<!--  USER DETAILS -->
		<div class="row tab-pane fade in active" id="info">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">User Information</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3 col-lg-3" align="center">
							<img
								th:src="${user.image==null}? @{/static/assets/img/profile-img.png} : ${user.image}"
								src="//placehold.it/100" class="avatar img-circle" alt="avatar" />
						</div>

						<div class=" col-md-9 col-lg-9">

							<div th:replace="fragments/accounting/user_info"></div>
							<!-- 
							<a href="#" class="btn btn-primary">Link-Button</a> 
							-->
						</div>
					</div>
				</div>
				<div class="panel-footer text-right">
					 <a href="#" class="btn btn-danger"
						tooltip="tooltip" data-placement="top" title="Delete Profile">
							<i class="glyphicon glyphicon-remove"></i>
					</a>
				</div>

			</div>
		</div>

		<!-- SELLER INFORMATION -->
		<div class="row tab-pane fade" id="seller-info"
			th:if="${user.isSeller()}">

			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Seller Information</h3>
				</div>
				<div class="panel-body">
					
					<div class=" col-md-2 col-lg-2">
					</div>
					<div class=" col-md-9 col-lg-9">

						<div th:replace="fragments/accounting/seller_info"></div>
						<!-- 
							<a href="#" class="btn btn-primary">Link-Button</a> 
							-->
					</div>
				</div>

				<div class="panel-footer text-right">
					<a href="#" class="btn btn-danger"
						tooltip="tooltip" data-placement="top" title="Delete Seller">
							<i class="glyphicon glyphicon-remove"></i>
					</a>
				</div>

			</div>
		</div>
	</div>
</body>

</html>