<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/authenticated-layout">

<!-- Page head -->
<head>
<title th:text="#{homePage.title}">Administrator Notifications</title>

<!-- Administration CSS -->
<link href="css/administration.css"
	th:href="@{/static/assets/css/administration.css}" rel="stylesheet" />

</head>

<!-- Page body -->
<body>

	<div layout:fragment="content">
		<div class="container">
			<h1>Administrator Notifications</h1>

			<div th:each="notification : ${notification}"
				th:include="/fragments/notifications/admin_notifications :: adminNotificationRow">
			</div>
			<div class="col-md-12" style="margin-bottom: 2em;">
				<a
					th:href="@{/admin/notifications/{notificationId}/reject(notificationId=${notification.id})}"
					href="#" class="btn btn-block btn-danger">Reject</a> <a
					th:href="@{/admin/notifications/{notificationId}/accept(notificationId=${notification.id})}"
					href="#" class="btn btn-block btn-success">Accept</a>
			</div>

		</div>
		<!-- /.box -->
	</div>
	<!-- End content -->
</body>

</html>