<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/authenticated-layout">

<!-- Page head -->
<head>
<title th:text="#{homePage.title}">Administrator Notifications</title>
</head>

<!-- Page body -->
<body>

	<div layout:fragment="content">
		<div>
			<h1>Administrator Notifications</h1>
		    
		    <ul>
		    	<li th:each="notification : ${notifications}" th:include="/fragments/notifications/admin_notifications :: adminNotificationRow">
		    	</li>
		    </ul>	    
		</div>
		<!-- /.box -->
	</div>
	<!-- End content -->
</body>

</html>