<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<div>
		<li th:fragment="dealRow" class="deal-entry">
			<hr/>
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-3">
						<img src="" th:src="@{${deal.image}}" height="100" width="100" class="picture"/>
					</div>
					<div class="col-lg-9">
						<table>
							<tr>
								<td>
									<a href="#" th:href="@{/deals/{id}(id=${deal.id})}">
										<span th:text="${deal.name}">Nome offerta</span>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<span th:text="${deal.description}">Descrizione offerta</span>
								</td>
							</tr>
							<tr>
								<td>
									<span>Sconto: <span th:text="${deal.discountPercentage}">50</span> % - (per: <span th:text="${deal.discountReason}">Motivo</span>)</span>
								</td>
							</tr>					
							<tr>
								<td>
									<span>Prezzo: <span th:text="${deal.price}">2.00</span> <span th:text="${deal.priceUnit}">&euro;</span> (invece di <span th:text="${deal.startingPrice}">4.00</span> <span th:text="${deal.priceUnit}">&euro;</span>)</span>
								</td>
							</tr>	
							<tr>
								<td>
									<span>Quantit&agrave; disponibile: <span th:text="${deal.quantity}">100</span> <span th:text="${deal.quantityUnit}">Kg</span></span>
								</td>
							</tr>
							<tr>
								<td>
									<span>Scade a: <span th:text="${deal.expireDate}">Data scadenza</span></span>
								</td>
							</tr>
							<tr>
								<td>
									<span>Venduto da: <a href="#" th:href="@{/shops/{id}(id=${deal.shop.id})}"><span th:text="${deal.shop.name}">Nome negozio</span></a></span>
								</td>
							</tr>						      
						</table>
					</div>
				</div>
			</div>
		</li>
	</div>
</body>
</html>