<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<div>
		<div class="list-group">
			<div th:fragment="dealRow">
				<div th:id="${'deal-id-' + deal.id}" class="deal-entry list-group-item"
					th:with="dealLink=@{/deals/{id}(id=${deal.id})}">
					<div class="media col-md-3">
						<a th:href="${dealLink}"> <img
							class="media-object img-rounded img-responsive"
							th:src="@{${deal.image!=null ? deal.image : '//placehold.it/350x250'}}"
							src="//placehold.it/350x250" alt="placehold.it/350x250" />
						</a>
					</div>
					<div class="col-md-6">
						<h3 class="list-group-item-heading">
							<a th:href="${dealLink}" th:text="${deal.name}">Deal Title</a>
						</h3>
						<p class="list-group-item-text"
							th:text="${#strings.abbreviate(deal.description, 250)}">Deal
							long description.</p>
						<span>Sold by: </span>
						<a href="#" th:href="@{/shops/{id}(id=${deal.shop.id})}"
							th:text="${deal.shop.name}">Shop Name</a>
					</div>
					<div class="col-md-3 text-center"
						th:with="currencyClass=${{@faCurrencyFormatter.valueOf(deal.currency)}}">
						<a th:href="${dealLink}"
							class="deal-price btn btn-primary btn-lg btn-block"> <span
							th:text="${#numbers.formatDecimal(deal.price, 1, 2)}">2.00</span>
							&nbsp; <span th:classappend="${currencyClass}" class="fa"></span>
							<small> <span>/</span> <span th:text="${deal.priceUnit}">Kg</span>
						</small> <br /> <del>
								<span
									th:text="${#numbers.formatDecimal(deal.startingPrice, 1, 2)}">4.00</span>
								<!-- 
							<span th:classappend="${currencyClass}" class="fa"></span>
							 -->
							</del>
						</a> <span
							th:text="|${#conversions.convert(deal.discountPercentage,'Integer')} % off|"
							class="discount-percentage">50% off</span> <span
							th:text="|Reason: ( ${deal.discountReason} )|"
							class="discount-reason">(Reason)</span> <br /> <span
							th:if="${deal.expireDate!=null}">Expires: <span
							th:text="${#calendars.format(deal.expireDate,'dd/MM/yyyy')}"
							class="expire-date">Expire Date</span>
						</span>
						<!-- 
						<span th:text="${{deal.expireDate}}">Expire Date</span>
						 -->
					</div>
				</div>
			</div>
		</div>




		<!-- OLD -->
		<ul>
			<li class="deal-entry">
				<hr />
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-3">
							<img src="" th:src="@{${deal.image}}" height="100" width="100"
								class="picture" />
						</div>
						<div class="col-lg-9">
							<table>
								<tr>
									<td><a href="#" th:href="@{/deals/{id}(id=${deal.id})}">
											<span th:text="${deal.name}">Nome offerta</span>
									</a></td>
								</tr>
								<tr>
									<td><span th:text="${deal.description}">Descrizione
											offerta</span></td>
								</tr>
								<tr>
									<td><span>Sconto: <span
											th:text="${deal.discountPercentage}">50</span> % - (per: <span
											th:text="${deal.discountReason}">Motivo</span>)
									</span></td>
								</tr>
								<tr>
									<td><span>Prezzo: <span th:text="${deal.price}">2.00</span>
											<span th:text="${deal.priceUnit}">&euro;</span> (invece di <span
											th:text="${deal.startingPrice}">4.00</span> <span
											th:text="${deal.priceUnit}">&euro;</span>)
									</span></td>
								</tr>
								<tr>
									<td><span>Quantit&agrave; disponibile: <span
											th:text="${deal.quantity}">100</span> <span
											th:text="${deal.quantityUnit}">Kg</span></span></td>
								</tr>
								<tr>
									<td><span>Scade a: <span
											th:text="${deal.expireDate}">Data scadenza</span></span></td>
								</tr>
								<tr>
									<td><span>Venduto da: <a href="#"
											th:href="@{/shops/{id}(id=${deal.shop.id})}"><span
												th:text="${deal.shop.name}">Nome negozio</span></a></span></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</li>
		</ul>



	</div>
</body>
</html>