<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/authenticated-layout">

<!-- Page head -->
<head>
<title th:text="#{homePage.title}">Deals</title>

<!-- Deals CSS -->
<link href="css/deals.css" th:href="@{/static/assets/css/deals.css}"
	rel="stylesheet" />

<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQ2zBOq1y_sTBFoLXmxmYEXnhhzqAnK64"
	type="text/javascript"></script>

<style type="text/css">
.sidebar-map {
	position: static;
	height: 250px;
}

.highlight {
	background: #eee;
	border-color: lightskyblue;
}
</style>

<script th:inline="javascript" type="text/javascript">
	/*<![CDATA[*/
	var deals = /*[[${dealsJSON}]]*/[];

	google.maps.event.addDomListener(window, 'load', initialize);
	var map;
	
	var selectedLatLng= /*[[${dealSearchForm.distanceFromLatLng}]]*/ null;
	
	var circleLatLng= /*[[${dealSearchForm.distanceFromLatLng}]]*/ null;
	var circleSize=/*[[${dealSearchForm.distance}]]*/ 0;

	function initialize() {
		var mapOptions = {
			zoom : 11,
			center : new google.maps.LatLng(45.0736655, 7.6627286)
		};

		map = new google.maps.Map(document.getElementById('map'),
				mapOptions);

		if (map != null)
			showUserLocationOnMap(selectedLatLng);

		for (i = 0; i < deals.length; i++) {
			var deal = deals[i];
			addDeal(deal.shop.latitude, deal.shop.longitude, deal.name, deal.id);
		}

		if(circleSize>0) {
			//Draw circle for range
			var circleOptions = {
				      strokeColor: '#0000FF',
				      strokeOpacity: 0.30,
				      strokeWeight: 2,
				      fillColor: '#0000FF',
				      fillOpacity: 0.10,
				      map: map,
				      center: new google.maps.LatLng(circleLatLng.split(",")[0], circleLatLng.split(",")[1]),
				      radius: circleSize*1000
				    };
			
		    // Add the circle for this city to the map.
		    cityCircle = new google.maps.Circle(circleOptions);
	    }
	}

	function showUserLocationOnMap(latlng) {
		if(latlng!=null) {
			var lat=latlng.split(",")[0];
			var lng=latlng.split(",")[1];
			var position={"coords":{"latitude":lat, "longitude":lng}};
			showPosition(position);
		}
		else {
			if (navigator.geolocation) {
				//navigator.geolocation.getCurrentPosition(showPosition, showError);
				navigator.geolocation.getCurrentPosition(showPosition);
			}
		}
	}

	function showPosition(position) {
		var latlng = new google.maps.LatLng(position.coords.latitude,
				position.coords.longitude);
		map.panTo(latlng);
	}

	function showError(error) {
		switch (error.code) {
		case error.PERMISSION_DENIED:
			alert("User denied the request for Geolocation.");
			break;
		case error.POSITION_UNAVAILABLE:
			alert("Location information is unavailable.");
			break;
		case error.TIMEOUT:
			alert("The request to get user location timed out.");
			break;
		case error.UNKNOWN_ERROR:
			alert("An unknown error occurred.");
			break;
		}
	}

	function addDeal(lat, lng, name, id) {
		var marker = new google.maps.Marker({
			position : new google.maps.LatLng(lat, lng),
			title : name
		});

		// To add the marker to the map, call setMap();
		marker.setMap(map);

		google.maps.event.addListener(marker, 'click', function() {
			//infowindow.open(map,marker);
			dealElement = document.getElementById('deal-id-' + id);
			dealElement.scrollIntoView();
			highlightElement(dealElement);
		});
	}

	function highlightElement(element, status) {
		element.classList.add("highlight");
		setTimeout(function() {
			element.classList.remove("highlight");
		}, 3000);		
	}
	
	function showDistance(sliderValue)
	{
		var ranges=[1,2,5,10,20,50,100,200,1000];
		if(sliderValue<8)
			rng=ranges[sliderValue]+" Km";
		else
			rng="-";
		
		document.getElementById("range").innerHTML=rng;
	}
	/*]]>*/
</script>

</head>

<!-- Page body -->
<body>


	<!-- SIDEBAR -->
	<div layout:fragment="sidebar-content">
		<div id="map" class="sidebar-map"></div>

		<!-- categories -->
		<div class="nav nav-stacked sidebar-nav">
			<span class="filters">Filters</span>
		</div>

		<form th:attr="action=@{/deals}" action="#" method="get"
			th:object="${dealSearchForm}">
			<div class="nav nav-stacked sidebar-nav">
				<span class="filter-name">Category</span> <select
					th:field="*{categories}" name="categories" data-size="7"
					title='Choose Category..' data-style="btn btn-default"
					class="selectpicker form-control">
					<option value="">All Categories</option>
					<option th:each="cat : ${@dealCategories}" th:value="${cat.id}"
						th:text="${cat.name}"></option>
				</select> <span class="filter-name">Price</span> <label
					class="filter-min-max">Minimum</label> <input type="text"
					class="form-control" th:field="*{minPrice}" /> <label
					class="filter-min-max">Maximum</label> <input class="form-control"
					type="text" th:field="*{maxPrice}" /> <span class="filter-name">Quantity</span>
				<label class="filter-min-max">Minimum</label> <input type="text"
					class="form-control" th:field="*{minQuantity}" /> <span
					class="filter-name">Max age</span> <label class="filter-min-max">Days</label>
				<input type="text" class="form-control" th:field="*{maxAge}" /> <span
					class="filter-name empty"></span> <span class="filter-checkbox">Show
					Expired</span> <input type="checkbox" th:field="*{expired}"
					class="form-control" /> <span class="filter-name empty"></span>
				
				<span class="filter-name">Distance</span>
				<label class="filter-min-max">CAP</label>
				<input type="text" class="form-control" th:field="*{distanceCAP}" id="distanceCAP"/>
				
				<div>
					<label class="filter-min-max">Km</label>				
					<input type="range" class="form-control" th:field="*{distanceStep}" id="distance" min="0" max="8" value="0" step="1" onload="showDistance(this.value)" onchange="showDistance(this.value)" />					
					<span id="range">1 Km</span>
					<script>showDistance(document.getElementById('distance').value)</script>
				</div>
				
				<input class="form-control" type="submit" value="Apply" />

			</div>
		</form>
	</div>

	<!-- CONTENT -->
	<div layout:fragment="page-content">
		<div>
			<h1>Deals</h1>

			<div th:include='fragments/pagination :: paginationDetails'></div>

			<div class="list-group">
				<div th:each="deal : ${deals}"
					th:include="fragments/deals/deal :: dealRow"></div>
			</div>

			<div th:include='fragments/pagination :: paginationBar'></div>
		</div>
		<!-- /.box -->
	</div>
	<!-- End content -->
</body>

</html>