<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/authenticated-layout">

<!-- Page head -->
<head>
<title th:text="#{homePage.title}">Deals</title>

<!-- Deals CSS -->
<link href="css/deals.css"
	th:href="@{/static/assets/css/deals.css}" rel="stylesheet" />
</head>

<!-- Page body -->
<body>

	<div layout:fragment="content">
		<div>
			<h1>Deals per negozio <span th:text="${shop.name}">Mario</span></h1>
  
		    <table>
		      <tr>
		        <th>ID</th>
		        <th>NAME</th>
		        <th>DESCRIPTION</th>
		        <th>PRICE</th>
		      </tr>
		      <tr th:each="deal : ${deals}">
		        <td th:text="${deal.id}">1</td>
		        <td th:text="${deal.name}">Onions</td>
		        <td th:text="${deal.description}">Lorem ipsum dolor sime....</td>
		        <td th:text="${deal.price}">2.41 <span> €</span></td>		        
		      </tr>
		    </table>
		  
		    <p>
		      <a href="../" th:href="@{/}">Return to home</a>
		    </p>
				</div>
				<!-- /.box -->
			</div>
	<!-- End content -->
</body>

</html>