<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/authenticated-layout">

<!-- Page head -->
<head>
<title th:text="#{homePage.title}">Deals</title>
</head>

<!-- Page body -->
<body>

	<div layout:fragment="content">
		<div>
			<h1>Deals</h1>
		    
		    <div th:include='fragments/pagination :: paginationDetails'></div>
		    
		    <div>
		    </div>
		    
		    <ul>
		    	<li th:each="deal : ${deals}" th:include="fragments/deal :: dealRow">
		    	</li>
		    </ul>	  
		    
		    <div th:include='fragments/pagination :: paginationBar'></div>      
		</div>
		<!-- /.box -->
	</div>
	<!-- End content -->
</body>

</html>