<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/authenticated-layout">

<!-- Page head -->
<head>
<title th:text="#{homePage.title}">Deal details</title>
<!-- Deals Custom CSS -->
<link href="css/deals.css" th:href="@{/static/assets/css/deals.css}"
	rel="stylesheet" />
</head>

<!-- Page body -->
<body>

	<!-- SIDEBAR -->
	<div layout:fragment="sidebar-content">
		<ul class="nav nav-stacked sidebar-nav">
			<li class="active"><a href="#info" data-toggle="pill"> <i
					class="fa fa-info-circle"></i> Information
			</a></li>

			<li><a href="#edit" data-toggle="pill"> <i
					class="fa fa-info-circle"></i> Edit Deal
			</a></li>
			<li><a th:href="@{/shops/{shopId}(shopId=${deal.shop.id})}"
				href="#"> <i class="fa fa-arrow-circle-left"></i> Back to Shop
			</a></li>
		</ul>
	</div>

	<div layout:fragment="page-content" class="tab-content">
		<div class="row tab-pane fade in active" id="info">
			<h1>Deal details</h1>

			<div class="list-group">
				<div th:include="/fragments/deals/deal :: dealRow"></div>
			</div>

			<div class="well col-md-12" style="margin-top: 20px;">



				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-5">
						<h3>Quantity</h3>
						<span th:text="|${deal.quantity} ${deal.quantityUnit}|">5
							Kg</span>
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-4 pull-right">
						<h3>Categories</h3>
						<span th:each="cat : ${deal.categories}" th:text="${cat.name}">Category1</span>
					</div>
					<div class="col-md-1"></div>
				</div>


				<hr />
				<div th:include="/fragments/deals/share_deal :: shareDeal"
					class="text-center"></div>

			</div>


		</div>

		<div class="row tab-pane fade" id="edit">
			<h1>Edit Deal</h1>

			<h1>Under Construction!!</h1>
		</div>

		<!-- /.box -->
	</div>
	<!-- End content -->
</body>

</html>