<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/authenticated-layout">

<!-- Page head -->
<head>
<title th:text="#{homePage.title}">Deal Creation</title>
</head>

<!-- Page body -->
<body>

	<div layout:fragment="content">
		<div>
			<h1>Create a new deal</h1>
			
			<!-- IMPORTANT: Note the CSRF token placed in query params for problems with Multipart/Form encoding -->
			<form action="#" th:action="@{${formAction}+'?'+${_csrf.parameterName}+'='+${_csrf.token}}" th:object="${newDealForm}" method="post" enctype="multipart/form-data">
    			<p>Title: <input type="text" th:field="*{name}" required="required"/>
    				<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
    			</p>    
    			<p>Description: <textarea th:field="*{description}" required="required"></textarea>
        			<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name Error</span>
        		</p>
        		<p>Categories: 
        			<select multiple="multiple" th:field="*{categories}" required="required">
        				<option th:each="cat : ${dealCategories}" th:value="${cat.id}" th:text="${cat.name}">Category</option>
        			</select>
        		</p>
        		<fieldset>
	        		<p>Available Quantity: <input type="text" th:field="*{quantity}" required="required" />
	        			<span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Name Error</span>
	        		</p>
	        		<p>Quantity Unit: <input type="text" th:field="*{quantityUnit}" required="required" />
	        			<span th:if="${#fields.hasErrors('quantityUnit')}" th:errors="*{quantityUnit}">Name Error</span>
	        		</p>
        		</fieldset>
        		<fieldset>        			        		        		
        			<p>Starting Price: <input type="text" th:field="*{startingPrice}" required="required" />
	        			<span th:if="${#fields.hasErrors('startingPrice')}" th:errors="*{startingPrice}">Name Error</span>
	        		</p>
	        		<p>Price Unit:
		        		<select th:field="*{currency}" required="required">
	        				<option th:each="cur : ${currencies}" th:value="${cur}" th:text="${cur}">Currency</option>
	        			</select>	        			
	        			<span th:if="${#fields.hasErrors('currency')}" th:errors="*{currency}">Name Error</span>
	        			<select th:field="*{priceUnit}">
	        				<option th:each="pu : ${priceUnits}" th:value="${pu}" th:text="${pu}">Price Unit</option>
	        			</select>
	        			<span th:if="${#fields.hasErrors('priceUnit')}" th:errors="*{priceUnit}">Name Error</span>
	        		</p>
	        		<p>Discounted Price: <input type="text" th:field="*{price}" required="required" />
		        		<span th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Name Error</span>
	        		</p>        		
	    			<p>Discount Reason: <input type="text" th:field="*{discountReason}" required="required"/>
	        			<span th:if="${#fields.hasErrors('discountReason')}" th:errors="*{discountReason}">Name Error</span>
	        		</p>
        		</fieldset>
        		<p>Deal Picture: <input type="file" th:field="*{picture}" required="required"/>
        			<span th:if="${#fields.hasErrors('picture')}" th:errors="*{picture}">Name Error</span>
        		</p>
        		<p>Expire Date: <input type="datetime" th:field="*{expireDate}" />
        			<span th:if="${#fields.hasErrors('expireDate')}" th:errors="*{expireDate}">Name Error</span>
        		</p>
        		<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    		</form>  
		</div>
				<!-- /.box -->
	</div>
	<!-- End content -->
</body>

</html>