<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/authenticated-layout">

<!-- Page head -->
<head>
<title th:text="#{homePage.title}">Deal details</title>
<!-- Shops Custom CSS -->
<link href="css/shops.css" th:href="@{/static/assets/css/shops.css}"
	rel="stylesheet" />

<!-- DateTime Picker CSS -->
<link href="css/bootstrap-datetimepicker.min.css"
	th:href="@{/static/assets/css/bootstrap-datetimepicker.min.css}"
	rel="stylesheet" />

</head>
<!-- Page body -->
<body>

	<!-- SIDEBAR -->
	<div layout:fragment="sidebar-content">
		<ul class="nav nav-stacked sidebar-nav">
			<li><a th:href="@{/shops/{shopId}(shopId=${shopId})}" href="#"> <i class="fa fa-arrow-circle-left"></i> Back to Shop
			</a></li>
		</ul>
	</div>

	<!-- CONTENT -->
	<div layout:fragment="page-content" class="tab-content">

		<div class="row tab-pane fade in active" id="new_deal">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Create a new Deal</h3>
				</div>
				<div class="panel-body">
					<div class="row">

						<form class="form-horizontal"
							th:action="@{${formAction}(${_csrf.parameterName}=${_csrf.token})}"
							th:object="${newDealForm}" method="post"
							enctype="multipart/form-data" action="#" role="form">

							<div class="col-md-12">
								<div th:if="${newDealErrorMsg} != null"
									class="alert alert-danger alert-dismissable">
									<a class="panel-close close" data-dismiss="alert">×</a>
									<p th:text="${newDealErrorMsg}" class="help-block">Error
										message !</p>
								</div>

								<div th:if="${newDealInfoMsg} != null"
									class="alert alert-info alert-dismissable">
									<a class="panel-close close" data-dismiss="alert">×</a>
									<p th:text="${newDealInfoMsg}" class="help-block">Info
										message !</p>
								</div>

								<div class="form-group"
									th:classappend="${#fields.hasErrors('name')}? 'has-error'">
									<label class="col-md-3 control-label">Title:</label>
									<div class="col-md-8">
										<input th:field="*{name}" class="form-control" type="text"
											placeholder="Title" /> <span
											th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
											class="help-block">Incorrect Title</span>
									</div>
								</div>

								<div class="form-group"
									th:classappend="${#fields.hasErrors('description')}? 'has-error'">
									<label class="col-md-3 control-label">Description:</label>
									<div class="col-md-8">
										<textarea th:field="*{description}" class="form-control"
											placeholder="Description"></textarea>
										<span th:if="${#fields.hasErrors('description')}"
											th:errors="*{description}" class="help-block">Incorrect
											Description</span>
									</div>
								</div>

								<div class="form-group deal-image"
									th:classappend="${#fields.hasErrors('picture')}? 'has-error'">
									<label class="col-md-3 control-label">Deal Image:</label>
									<div class="input-group col-md-8">
										<div class="input-group-btn">
											<div class="btn btn-primary btn-file">
												Browse... <input type="file" th:field="*{picture}"
													onchange="var input = $(this); var target = $('#new_img_filename'); var label = input.val().replace(/\\/g, '/').replace(/.*\//, ''); target.val(label);" />
											</div>
										</div>
										<input id="new_img_filename" type="text" class="form-control"
											readonly="readonly" />
									</div>
								</div>

								<div class="form-group"
									th:classappend="${#fields.hasErrors('picture')}? 'has-error'">
									<label class="col-md-3 control-label"></label> <span
										class="col-md-8 help-block"
										th:if="${#fields.hasErrors('picture')}" th:errors="*{picture}">Problem
										with Picture</span>
								</div>

								<div class="form-group"
									th:classappend="${#fields.hasErrors('categories')}? 'has-error'">
									<label class="col-md-3 control-label">Categories:</label>
									<div class="col-md-8">

										<select
											class="form-control selectpicker show-tick show-menu-arrow"
											multiple="multiple" data-max-options="3"
											data-live-search="true" title='Choose categories...'
											data-width="100%" data-size="10" th:field="*{categories}">
											<option th:each="cat : ${dealCategories}"
												th:value="${cat.id}" th:text="${cat.name}">Category</option>
										</select> <span th:if="${#fields.hasErrors('categories')}"
											th:errors="*{categories}" class="help-block">Incorrect
											Categories</span>
									</div>
								</div>

								<div class="form-group"
									th:classappend="${#fields.hasErrors('quantity') or #fields.hasErrors('quantityUnit')}? 'has-error'">
									<label class="col-md-3 control-label">Quantity:</label>
									<div class="col-md-4">
										<input type="text" th:field="*{quantity}" class="form-control"
											placeholder="Quantity" /> <span
											th:if="${#fields.hasErrors('quantity')}"
											th:errors="*{quantity}" class="help-block">Incorrect
											Quantity</span>
									</div>

									<div class="col-md-4">
										<select th:field="*{quantityUnit}" required="required"
											class="form-control selectpicker show-tick show-menu-arrow">
											<option th:each="qu : ${quantityUnits}" th:value="${qu}"
												th:text="${qu}">Price Unit</option>
										</select> <span th:if="${#fields.hasErrors('quantityUnit')}"
											th:errors="*{quantityUnit}" class="help-block">Incorrect
											Quantity Unit</span>
									</div>
								</div>

								<div class="form-group"
									th:classappend="${#fields.hasErrors('startingPrice') or #fields.hasErrors('currency') or #fields.hasErrors('priceUnit')}? 'has-error'">
									<label class="col-md-3 control-label">Starting Price:</label>
									<div class="col-md-4">
										<input type="text" th:field="*{startingPrice}"
											class="form-control" placeholder="Starting Price" /> <span
											th:if="${#fields.hasErrors('startingPrice')}"
											th:errors="*{startingPrice}" class="help-block">Incorrect
											Starting Price</span>
									</div>

									<div class="col-md-2">
										<select th:field="*{currency}" required="required"
											class="form-control selectpicker show-tick show-menu-arrow">
											<option th:each="cur : ${currencies}" th:value="${cur}"
												th:with="aux='&lt;span class=\'fa ' + ${{cur}} + '\'&gt;&lt;/span&gt;'"
												th:attr="data-content=${aux}"></option>
										</select> <span th:if="${#fields.hasErrors('currency')}"
											th:errors="*{currency}" class="help-block">Incorrect
											Currency Unit</span>
									</div>

									<span class="slash pull-left">/</span>

									<div class="col-md-2">
										<select th:field="*{priceUnit}" required="required"
											class="form-control selectpicker show-tick show-menu-arrow">
											<option th:each="qu : ${priceUnits}" th:value="${qu}"
												th:text="${qu}">Price Unit</option>
										</select> <span th:if="${#fields.hasErrors('priceUnit')}"
											th:errors="*{priceUnit}" class="help-block">Incorrect
											Price Unit</span>
									</div>
								</div>

								<div class="form-group"
									th:classappend="${#fields.hasErrors('price')}? 'has-error'">
									<label class="col-md-3 control-label">Discounted Price:</label>
									<div class="col-md-8">
										<input type="text" th:field="*{price}" class="form-control"
											placeholder="Discounted Price" /> <span
											th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
											class="help-block">Incorrect Discounted Price</span>
									</div>
								</div>

								<div class="form-group"
									th:classappend="${#fields.hasErrors('discountReason')}? 'has-error'">
									<label class="col-md-3 control-label">Discount Reason:</label>
									<div class="col-md-8">
										<input type="text" th:field="*{discountReason}"
											class="form-control" placeholder="Discount Reason" /><span
											th:if="${#fields.hasErrors('discountReason')}"
											th:errors="*{discountReason}" class="help-block">Incorrect
											Discount Reason</span>
									</div>
								</div>


								<div class="form-group"
									th:classappend="${#fields.hasErrors('expireDate')}? 'has-error'">
									<label class="col-md-3 control-label">Expire Date:</label>
									<div class="col-md-8">
										<div class="input-group date" id="datetimepicker">
											<input type="text" class="form-control datepickerinput"
												th:field="*{expireDate}" placeholder="Expire Date"
												style="width: 0; height: 0; border-style: none; padding: 0; margin: 0;" />
											<input type="text" class="form-control" id="showDate"
												placeholder="Expire Date" disabled="disabled" /> <span
												class="input-group-addon datepickerbutton"><span
												class="glyphicon glyphicon-calendar"></span> </span>
										</div>
										<span th:if="${#fields.hasErrors('expireDate')}"
											th:errors="*{expireDate}" class="help-block">Incorrect
											Expire Date</span>
									</div>
								</div>



								<div class="form-group">
									<label class="col-md-3 control-label"></label>
									<div class="col-md-8">
										<input type="submit" class="btn btn-primary" value="Save" />
										<span></span> <input type="reset" class="btn btn-default"
											value="Cancel" />
									</div>
								</div>

								<input type="hidden" name="csrf"
									th:name="${_csrf.parameterName}" th:value="${_csrf.token}"
									value="csrf.token" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div layout:fragment="js">

		<!-- DateTime Picker JS -->
		<script src="js/bootstrap-datetimepicker.js"
			th:src="@{/static/assets/js/bootstrap-datetimepicker.min.js}"></script>
		<script type="text/javascript">
			$(function() {
				var today = new Date();
				today.setHours(23);
				today.setMinutes(59);
				today.setSeconds(0);

				$('#datetimepicker').datetimepicker({
					minDate : new Date(),
					defaultDate : today,
					//format : "MM/DD/YYYY HH:mm",
					format : "YYYY-MM-DDTHH:mm:ss",
					useCurrent : false
				});

				$("#datetimepicker").on("dp.change", function(e) {
					$('#showDate').val(e.date.format("MM/DD/YYYY HH:mm"));
				});

				$('#showDate').val(moment(today).format("MM/DD/YYYY HH:mm"));
			});
		</script>
	</div>
</body>

</html>