<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/common-layout">

<!-- Page head -->
<head>
<title th:text="#{homePage.title}"></title>
</head>

<!-- Page body -->
<body>

	<div layout:fragment="content">
		<div>
			<h1>Debug result</h1>
			
			<p th:text="${#ctx.variables}">Debug data</p>
			
		</div>
	</div>
	<!-- End content -->
</body>

</html>