<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/public-layout">

<!-- Page head -->
<head>
<title th:text="#{landingPage.title}"></title>
</head>

<!-- Page body -->
<body>

	<div layout:fragment="landing-header">
	
		<!-- Header -->
	    <div class="intro-header">
	
	        <div class="container">
	
	            <div class="row">
	                <div class="col-lg-12">
	                    <div class="intro-message">
	                        <h1>Last Minute Food</h1>
	                        <h3>Special prices for perishable goods</h3>
	                        <hr class="intro-divider"/>
	                        <ul class="list-inline intro-social-buttons">
	                            <li>
	                                <a href="https://twitter.com/" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
	                            </li>
	                            <li>
	                                <a href="https://facebook.com/" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
	                            </li>
	                            <li>
	                                <a href="https://plus.google.com/" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
	                            </li>
	                        </ul>
	                        <hr class="intro-divider"/>
	                        <a href="#" th:href="@{/deals}" class="btn btn-primary btn-lg">
	                            <big>
	                                Find out more !
	                            </big>
	                        </a>
	                    </div>
	                </div>
	            </div>
	
	        </div>
	        <!-- /.container -->
	
	    </div>
	    <!-- /.intro-header -->
	
	</div>

	<div layout:fragment="content">

	    <!-- Page Content -->
	    <div class="content-section-a">
	
	        <div class="container">
	
	            <div class="row">
	                <div class="col-lg-5 col-sm-6">
	                    <hr class="section-heading-spacer"/>
	                    <div class="clearfix"></div>
	                    <h2 class="section-heading">Death to the Stock Photo:<br/>Special Thanks</h2>
	                    <p class="lead">A special thanks to <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a> for providing the photographs that you see in this template. Visit their website to become a member.</p>
	                </div>
	                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
	                    <img class="img-responsive" src="img/ipad.png" th:src="@{static/assets/img/ipad.png}" alt=""/>
	                </div>
	            </div>
	
	        </div>
	        <!-- /.container -->
	
	    </div>
	    <!-- /.content-section-a -->
	
	    <div class="content-section-b">
	
	        <div class="container">
	
	            <div class="row">
	                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
	                    <hr class="section-heading-spacer"/>
	                    <div class="clearfix"></div>
	                    <h2 class="section-heading">3D Device Mockups<br/>by PSDCovers</h2>
	                    <p class="lead">Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to download some of their awesome, free photoshop actions!</p>
	                </div>
	                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
	                    <img class="img-responsive" src="img/dog.png" th:src="@{static/assets/img/dog.png}" alt=""/>
	                </div>
	            </div>
	
	        </div>
	        <!-- /.container -->
	
	    </div>
	    <!-- /.content-section-b -->
	
	    <div class="content-section-a">
	
	        <div class="container">
	
	            <div class="row">
	                <div class="col-lg-5 col-sm-6">
	                    <hr class="section-heading-spacer"/>
	                    <div class="clearfix"></div>
	                    <h2 class="section-heading">Google Web Fonts and<br/>Font Awesome Icons</h2>
	                    <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
	                </div>
	                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
	                    <img class="img-responsive" src="img/phones.png" th:src="@{static/assets/img/phones.png}" alt=""/>
	                </div>
	            </div>
	
	        </div>
	        <!-- /.container -->
	
	    </div>
	    <!-- /.content-section-a -->
	
	    <div class="banner">
	
	        <div class="container">
	
	            <div class="row">
	                <div class="col-lg-6">
	                    <h2>Find us on:</h2>
	                </div>
	                <div class="col-lg-6">
	                    <ul class="list-inline banner-social-buttons">
	                        <li>
	                            <a href="https://twitter.com/" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
	                        </li>
	                        <li>
	                            <a href="https://facebook.com/" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
	                        </li>
	                        <li>
	                            <a href="https://plus.google.com/" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	
	        </div>
	        <!-- /.container -->
	
	    </div>
	    <!-- /.banner -->

	</div>
	<!-- End content -->
</body>

</html>