<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>

	<table th:fragment="user_info_table"
		class="table table-user-information" th:if="${user.isSeller()}" th:object="${user.seller}">
		<tbody>
			<tr>
				<td>Company Name:</td>
				<td th:text="*{ragioneSociale}">Phone Number</td>
			</tr>
			<tr>
				<td>VAT Number:</td>
				<td th:text="*{codiceFiscale}">VAT Number</td>
			</tr>
			<tr>
				<td>Phone Number:</td>
				<td th:text="*{phoneNumber}">Phone Number</td>
			</tr>
		</tbody>
	</table>
</body>
</html>