<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>

	<table th:fragment="user_info_table"
		class="table table-user-information" th:object="${user}">
		<tbody>
			<tr>
				<td>Username</td>
				<td th:text="*{username}">Username</td>
			</tr>
			<tr>
				<td>First Name:</td>
				<td th:text="*{firstName}">FirstName</td>
			</tr>
			<tr>
				<td>Last Name</td>
				<td th:text="*{lastName}">LastName</td>
			</tr>
			<tr>
				<td>Email</td>
				<td><a th:href="'mailto:' + *{email}"
					th:text="*{email}" href="mailto:user@email.com">user@email.com</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>