<!DOCTYPE html>
<html lang="en">
<head>
<title>Errore imprevisto</title>
<link rel="stylesheet" href="style.css" />
</head>
<body>
	<h1>Errore imprevisto</h1>
	<p>Si &egrave; verificato un errore imprevisto.</p>
	<h2>Details</h2>
	<ul>
		<li>Timestamp: <span th:text="${date}"></span>
		</li>
		<li>Exception: <span th:text="${exception}"></span>
		</li>
	<!--
		<li>Action: <span
			th:text="${requestScope['javax.servlet.forward.request_uri']}"></span>
		</li>
		<li>Exception: <span
			th:text="${requestScope['javax.servlet.error.exception']}"></span>
		</li>
		<li>Message: <span
			th:text="${requestScope['javax.servlet.error.message']}"></span>
		</li>
		<li>Status code: <span
			th:text="${requestScope['javax.servlet.error.status_code']}"></span>
		</li>
		<li>User agent: <span th:text="${header['user-agent']}"></span>
		</li> -->
	</ul>
</body>
</html>