<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/common-layout">

<!-- Page head -->
<head>
<title th:text="#{accessDenied.title}"></title>
</head>

<!-- Page body -->
<body>

	<div layout:fragment="content">

		<div class="container">
			<div class="row">
				<h2 class="section-heading">Access Denied</h2>
				<p th:text="${errorMessage}">Error Message</p>
				<a th:href="@{/}" href="./">Go back to the home page.</a>
			</div>
		</div>
		<!-- /.container -->

	</div>
	<!-- End content -->
</body>

</html>