<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/authenticated-layout">

<!-- Page head -->
<head>
<title th:text="#{homePage.title}">Seller Authorization Request</title>
</head>

<!-- Page body -->
<body>

	<div layout:fragment="content">
		<div>
			<h1>Seller authorization requested !</h1>
			
			<p>You have to wait for the approval by an administrator.</p>
			
		</div>
	</div>
	<!-- End content -->
</body>

</html>