<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/authenticated-layout">

<!-- Page head -->
<head>
<title th:text="#{homePage.title}">Seller Authorization Request</title>
</head>

<!-- Page body -->
<body>

	<div layout:fragment="content">
		<div>
			<h1>Seller authorization request</h1>

			<form action="#" th:action="@{${formAction}}" th:object="${sellerRequestForm}" method="post">
    			<p>Ragione Sociale: <input type="text" th:field="*{ragioneSociale}" />
    				<span th:if="${#fields.hasErrors('ragioneSociale')}" th:errors="*{ragioneSociale}">RagioneSociale Error</span>
    			</p>    			
	         	<p>Codice Fiscale: <input type="text" th:field="*{codiceFiscale}" maxlength="128" required="required" />
					<span th:if="${#fields.hasErrors('codiceFiscale')}" th:errors="*{codiceFiscale}">Name Error</span>
				</p>
        		<p>Phone Number: <input type="text" th:field="*{phoneNumber}" />
        			<span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Name Error</span>
        		</p>
        		<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    		</form> 
		</div>
		<!-- /.box -->
	</div>
	<!-- End content -->
</body>

</html>