<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/authenticated-layout">

<!-- Page head -->
<head>
	<title th:text="#{homePage.title}">User Account</title>
</head>

<!-- Page body -->
<body>

	<div layout:fragment="content">
		<div>
			<h1 th:text="#{userAccount.header(${#authentication.principal.internalUser.name})}">Hi, Mario Rossi.</h1>
  
  			<div> 				
  				<p class="setting">E-mail Address: <span th:text="${user.email}">lolno@gmail.com</span></p>
   				<p class="setting">First Name: <span th:text="${user.firstName}">lolno@gmail.com</span></p>
   				<p class="setting">Last Name: <span th:text="${user.lastName}">lolno@gmail.com</span></p>
   				
   				<p th:if="${user.hasSocialSignIn()}" class="setting">Signed in with: <span th:text="${user.signInProvider}">SN Provider</span></p>
  			</div>
		    
		    <p th:if="${!user.isSeller()}">
		      <a href="#" th:href="@{/accounts/me/seller/new}">Become a seller !</a>
		    </p>
				</div>
				<!-- /.box -->
			</div>
	<!-- End content -->
</body>

</html>