<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/authenticated-layout">

<!-- Page head -->
<head>
<title th:text="#{homePage.title}">User Account</title>
</head>

<!-- Page body -->
<body>
	<!-- SIDEBAR -->
	<div layout:fragment="sidebar-content">
		<ul class="nav nav-stacked sidebar-nav">
			<li th:classappend="${param.action==null}? 'active'"><a
				href="#info" data-toggle="pill"> <i class="fa fa-info-circle"></i>
					Information
			</a></li>
			<li
				th:classappend="${param.action!=null and param.action[0].equals('change_info')}? 'active'"><a
				href="#edit-profile" data-toggle="pill"> <i class="fa fa-edit"></i>
					Edit Profile
			</a></li>
			<li
				th:classappend="${param.action!=null and param.action[0].equals('change_password')}? 'active'"><a
				href="#change-password" data-toggle="pill"> <i class="fa fa-cog"></i>
					Change Password
			</a></li>
			<li th:if="${!user.isSeller() and !user.isAdmin()}"><a href="#become-seller"
				data-toggle="pill"> <i class="fa fa-usd"></i>&nbsp; Become a
					seller!
			</a></li>

			<li
				th:classappend="${param.action!=null and param.action[0].equals('new_seller')}? 'active'"
				th:if="${user.isSeller()}"><a href="#seller-info"
				data-toggle="pill"> <i class="fa fa-usd"></i>&nbsp; Seller
					Information
			</a></li>
		</ul>

	</div>

	<!-- CONTENT -->
	<div layout:fragment="page-content" class="tab-content">

		<!--  USER DETAILS -->
		<div th:classappend="${param.action == null}? 'in active'"
			class="row tab-pane fade" id="info">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Your Information</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3 col-lg-3" align="center">
							<img
								th:src="${user.image==null}? @{/static/assets/img/profile-img.png} : ${user.image}"
								src="//placehold.it/100" class="avatar img-circle" alt="avatar" />
						</div>

						<div class=" col-md-9 col-lg-9">

							<div th:replace="fragments/accounting/user_info"></div>
							<!-- 
							<a href="#" class="btn btn-primary">Link-Button</a> 
							-->
						</div>
					</div>
				</div>
				<script type="text/javascript">
					function click_edit_profile() {
						document.querySelectorAll("[href='#edit-profile']")[0]
								.click();
					}
				</script>
				<div class="panel-footer">
					<a href="#" class="btn btn-default" tooltip="tooltip"
						data-placement="top" title="Edit Profile"
						onclick="click_edit_profile();"> <i
						class="glyphicon glyphicon-edit"></i>
					</a> <span class="pull-right"> <a href="#"
						class="btn btn-danger" tooltip="tooltip" data-placement="top"
						title="Delete Profile"> <i class="glyphicon glyphicon-remove"></i>
					</a>
					</span>
				</div>

			</div>
		</div>

		<!-- EDIT PROFILE -->
		<div
			th:classappend="${param.action!=null and param.action[0].equals('change_info')}? 'in active'"
			class="row tab-pane fade" id="edit-profile">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Edit Profile</h3>
				</div>
				<div class="panel-body">

					<div class="row">

						<form class="form-horizontal"
							th:attr="action=@{/accounts/me(action=${updateUserInfoFormAction}, ${_csrf.parameterName}=${_csrf.token})}"
							action="#" method="post" role="form"
							th:object="${updateUserInfoForm}" enctype="multipart/form-data">
							<div class="col-md-1"></div>
							<!-- left column -->
							<div class="col-md-3">
								<div class="text-center">
									<img
										th:src="${user.image==null}? @{/static/assets/img/profile-img.png} : ${user.image}"
										src="//placehold.it/100" class="avatar img-circle"
										alt="avatar" />
									<h6>Upload a different photo...</h6>

									<div class="input-group form-group"
										th:classappend="${#fields.hasErrors('picture')}? 'has-error'">
										<div class="input-group-btn">
											<div class="btn btn-primary btn-file">
												Browse... <input type="file" th:field="*{picture}"
													onchange="var input = $(this); var target = $('#new_img_filename'); var label = input.val().replace(/\\/g, '/').replace(/.*\//, ''); target.val(label);" />
											</div>
										</div>
										<input id="new_img_filename" type="text" class="form-control"
											readonly="readonly" />
									</div>
									<div class="form-group"
										th:classappend="${#fields.hasErrors('picture')}? 'has-error'">
										<span th:if="${#fields.hasErrors('picture')}"
											th:errors="*{picture}" class="help-block">Problem with
											Picture</span>
									</div>
								</div>
							</div>

							<!-- edit form column -->
							<div class="col-md-8 personal-info">
								<div th:if="${userInfoErrorMsg} != null"
									class="alert alert-danger alert-dismissable">
									<a class="panel-close close" data-dismiss="alert">×</a>
									<p th:text="${userInfoErrorMsg}" class="help-block">Error
										message !</p>
								</div>

								<div th:if="${userInfoInfoMsg} != null"
									class="alert alert-info alert-dismissable">
									<a class="panel-close close" data-dismiss="alert">×</a>
									<p th:text="${userInfoInfoMsg}" class="help-block">Info
										message !</p>
								</div>

								<div class="form-group"
									th:classappend="${#fields.hasErrors('username')}? 'has-error'">
									<label class="col-md-3 control-label">Username:</label>
									<div class="col-md-8">
										<input
											th:if="${user.email.equals(user.username) and user.hasSocialSignIn()}"
											th:field="*{username}" class="form-control" type="text"
											placeholder="Username" /> <input
											th:if="${!user.email.equals(user.username) or !user.hasSocialSignIn()}"
											th:attr="value=${user.username}" disabled="disabled"
											class="form-control" type="text" placeholder="Username" /> <span
											th:if="${#fields.hasErrors('username')}"
											th:errors="*{username}" class="help-block">Incorrect
											Username</span>
									</div>
								</div>
								<div class="form-group"
									th:classappend="${#fields.hasErrors('firstName')}? 'has-error'">
									<label class="col-lg-3 control-label">First name:</label>
									<div class="col-lg-8">
										<input class="form-control" type="text"
											th:field="*{firstName}" placeholder="FirstName" /> <span
											th:if="${#fields.hasErrors('firstName')}"
											th:errors="*{firstName}" class="help-block">Incorrect
											First Name</span>
									</div>
								</div>
								<div class="form-group"
									th:classappend="${#fields.hasErrors('lastName')}? 'has-error'">
									<label class="col-lg-3 control-label">Last name:</label>
									<div class="col-lg-8">
										<input class="form-control" type="text" th:field="*{lastName}"
											placeholder="LastName" /> <span
											th:if="${#fields.hasErrors('lastName')}"
											th:errors="*{lastName}" class="help-block">Incorrect
											Last Name</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 control-label">Email:</label>
									<div class="col-lg-8">
										<input class="form-control" type="text"
											th:attr="value=${user.email}" disabled="disabled"
											placeholder="user@domain.com" />
									</div>
								</div>

								<div class="form-group"
									th:classappend="${#fields.hasErrors('address')}? 'has-error'">
									<label class="col-lg-3 control-label">Address:</label>
									<div class="col-lg-8">
										<input class="form-control" type="text" th:field="*{address}"
											placeholder="Address" /> <span
											th:if="${#fields.hasErrors('address')}"
											th:errors="*{address}" class="help-block">Incorrect
											Address</span>
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label"></label>
									<div class="col-md-8">
										<input type="submit" class="btn btn-primary"
											value="Save Changes" /> <span></span> <input type="reset"
											class="btn btn-default" value="Cancel" />
									</div>
								</div>

								<input type="hidden" name="csrf"
									th:name="${_csrf.parameterName}" th:value="${_csrf.token}"
									value="csrf.token" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- CHANGE PASSWORD -->
		<div
			th:classappend="${param.action!=null and param.action[0].equals('change_password')}? 'in active'"
			class="row tab-pane fade" id="change-password">

			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Change Password</h3>
				</div>
				<div class="panel-body">
					<div th:if="${passwordErrorMsg} != null"
						class="alert alert-danger alert-dismissable">
						<a class="panel-close close" data-dismiss="alert">×</a>
						<p th:text="${passwordErrorMsg}" class="help-block">Error
							message !</p>
					</div>

					<div th:if="${passwordInfoMsg} != null"
						class="alert alert-info alert-dismissable">
						<a class="panel-close close" data-dismiss="alert">×</a>
						<p th:text="${passwordInfoMsg}" class="help-block">Info
							message !</p>
					</div>

					<form
						th:attr="action=@{/accounts/me(action=${changePasswordFormAction})}"
						action="#" method="post" class="form-horizontal" role="form"
						th:object="${changePasswordForm}">
						<div class="form-group"
							th:classappend="${#fields.hasErrors('password')}? 'has-error'">
							<label class="col-md-3 control-label">Password:</label>
							<div class="col-md-8">
								<input class="form-control" type="password"
									placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"
									th:field="*{password}" /> <span
									th:if="${#fields.hasErrors('password')}"
									th:errors="*{password}" class="help-block">Incorrect
									Password</span>
							</div>
						</div>
						<div class="form-group"
							th:classappend="${#fields.hasErrors('passwordVerification')}? 'has-error'">
							<label class="col-md-3 control-label">Confirm password:</label>
							<div class="col-md-8">
								<input class="form-control" type="password"
									placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"
									th:field="*{passwordVerification}" /> <span
									th:if="${#fields.hasErrors('passwordVerification')}"
									th:errors="*{passwordVerification}" class="help-block">Incorrect
									Password Verification</span>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label"></label>
							<div class="col-md-8">
								<input type="submit" class="btn btn-primary"
									value="Save Changes" /> <span></span> <input type="reset"
									class="btn btn-default" value="Cancel" />
							</div>
						</div>

						<input type="hidden" name="csrf" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" value="csrf.token" />
					</form>
				</div>
			</div>
		</div>


		<!-- BECOME SELLER -->
		<div th:if="${!user.isSeller() and !user.isAdmin()}" class="row tab-pane fade" id="become-seller">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Become Seller</h3>
				</div>
				<div class="panel-body">
					<div th:if="${becomeSellerErrorMsg} != null"
						class="alert alert-danger">
						<p th:text="${becomeSellerErrorMsg}" class="help-block">Error
							message !</p>
					</div>

					<form
						th:attr="action=@{/accounts/me(action=${sellerRequestFormAction})}"
						action="#" th:object="${sellerRequestForm}" method="post"
						class="form-horizontal" role="form">

						<div class="form-group"
							th:classappend="${#fields.hasErrors('ragioneSociale')}? 'has-error'">
							<label class="col-md-3 control-label">Company Name:</label>
							<div class="col-md-8">
								<input class="form-control" type="text"
									placeholder="Company Name" th:field="*{ragioneSociale}" /> <span
									th:if="${#fields.hasErrors('ragioneSociale')}"
									th:errors="*{ragioneSociale}" class="help-block">Incorrect
									Company Name</span>
							</div>
						</div>

						<div class="form-group"
							th:classappend="${#fields.hasErrors('codiceFiscale')}? 'has-error'">
							<label class="col-md-3 control-label">VAT Number:</label>
							<div class="col-md-8">
								<input class="form-control" type="text" placeholder="VAT Number"
									th:field="*{codiceFiscale}" /> <span
									th:if="${#fields.hasErrors('codiceFiscale')}"
									th:errors="*{codiceFiscale}" class="help-block">Incorrect
									VAT Number</span>
							</div>
						</div>

						<div class="form-group"
							th:classappend="${#fields.hasErrors('phoneNumber')}? 'has-error'">
							<label class="col-md-3 control-label">Phone Number:</label>
							<div class="col-md-8">
								<input class="form-control" type="text"
									placeholder="Phone Number" th:field="*{phoneNumber}" /> <span
									th:if="${#fields.hasErrors('phoneNumber')}"
									th:errors="*{phoneNumber}" class="help-block">Incorrect
									VAT Number</span>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label"></label>
							<div class="col-md-8">
								<input type="submit" class="btn btn-primary"
									value="Send Request" /> <span></span> <input type="reset"
									class="btn btn-default" value="Cancel" />
							</div>
						</div>

						<input type="hidden" name="csrf" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" value="csrf.token" />
					</form>
				</div>
			</div>
		</div>

		<!-- SELLER INFORMATION -->
		<div class="row tab-pane fade" id="seller-info"
			th:classappend="${param.action!=null and param.action[0].equals('new_seller')}? 'in active'"
			th:if="${user.isSeller()}">
			<!-- WAIT FOR APPROVAL -->
			<div th:if="${!user.seller.isAuthorized()}"
				class="alert alert-warning">
				<p>You have to wait for the approval by an administrator.</p>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Seller Information</h3>
				</div>
				<div class="panel-body">

					<div class=" col-md-2 col-lg-2"></div>
					<div class=" col-md-9 col-lg-9">

						<div th:replace="fragments/accounting/seller_info"></div>
						<!-- 
							<a href="#" class="btn btn-primary">Link-Button</a> 
							-->
					</div>
				</div>

				<div class="panel-footer text-right">
					<a href="#" class="btn btn-danger" tooltip="tooltip"
						data-placement="top" title="Delete Seller"> <i
						class="glyphicon glyphicon-remove"></i>
					</a>
				</div>

			</div>
		</div>
	</div>
	<!-- End page-content -->
</body>

</html>