<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/authenticated-layout">

<!-- Page head -->
<head>
	<title th:text="#{homePage.title}">User Account</title>
</head>

<!-- Page body -->
<body>

<!-- SIDEBAR -->
	<div layout:fragment="sidebar-content">
		<ul class="nav nav-stacked sidebar-nav">
			<li th:classappend="active"><a
				href="#info" data-toggle="pill"> <i class="fa fa-info-circle"></i>
					Information
			</a></li>
		</ul>

	</div>

	<!-- CONTENT -->
	<div layout:fragment="page-content" class="tab-content">
		<div th:classappend="'in active'"
			class="row tab-pane fade" id="info">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title" th:text="|${user.username} Information|" >Information</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3 col-lg-3" align="center">
							<img th:src="${user.image==null}? @{/static/assets/img/profile-img.png} : ${user.image}"
									src="//placehold.it/100" class="avatar img-circle"
									alt="avatar" />
						</div>

						<div class=" col-md-9 col-lg-9">
							
							<div th:replace="fragments/accounting/user_info"></div>
							<!-- 
							<a href="#" class="btn btn-primary">Link-Button</a> 
							-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End content -->
</body>

</html>