<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<!-- Pagination Bar -->
	<div th:fragment="paginationBar">
		<div class="pagination pagination-centered text-center"
			style="width: 100%;">
			<ul class="list-inline center">
				<li th:class="${page.first}? 'disabled' : ''"><span
					th:if="${page.first}">&lt;&lt; First</span> <a
					th:if="${not page.first}" th:href="@{${page.firstPageUrl()}}">&lt;&lt;
						First</a></li>
				<li th:class="${page.hasPrevious()}? 'disabled' : ''"><span
					th:if="${not page.hasPrevious()}">&lt;</span> <a
					th:if="${page.hasPrevious()}"
					th:href="@{${page.previousPageUrl()}}" title="Go to previous page">&lt;</a>
				</li>
				<!--       <li th:each="item : ${page.items}" th:class="${item.current}? "active" : """> -->
				<!--         <span th:if="${item.current}" th:text="${item.number}">1</span> -->
				<!--         <a th:if="${not item.current}" th:href="@{${page.currentPageUrl}}"><span th:text="${item.number}">1</span></a> -->
				<!--       </li> -->
				<li class="active">
					<!-- 	       
					<a th:href="@{${page.currentPageUrl()}}"><span
						th:text="${page.number+1}">1</span></a>
						
					--> <span th:text="${page.number+1}">1</span>
				</li>
				<li th:class="${page.hasNext()}? 'disabled' : ''"><span
					th:if="${not page.hasNext()}">&gt;</span> <a
					th:if="${page.hasNext()}" th:href="@{${page.nextPageUrl()}}"
					title="Go to next page">&gt;</a></li>
				<li th:class="${page.last}? 'disabled' : ''"><span
					th:if="${page.last}">Last &gt;&gt;</span> <a
					th:if="${not page.last}" th:href="@{${page.lastPageUrl()}}">Last
						&gt;&gt;</a></li>
			</ul>
		</div>
	</div>

	<!-- Pagination Details -->
	<div th:fragment="paginationDetails">
		<div class="col-md-4 nopadding-left" style="padding-top: 0.5em;">
			<span>Page <span th:text="${page.number+1}">1</span> of <span
				th:text="${page.totalPages}">1</span> (<span
				th:text="${page.totalElements}">1</span> results)
			</span>
		</div>

		<form action="" method="get" class="col-md-3">
			<span class="col-md-8 text-right" style="padding-top: 0.5em;">
				Page size:
			</span>
			<input type="text" name="size" class="form-control col-md-3"
					th:value="${param.size!=null} ? ${param.size[0]} : 20" style="width: inherit;"/>
			<input type="hidden" name="page" value="0" /> <span
				th:each="p : ${param}"> 
				<input 
				th:if="${p.key!='size' and p.key!='page'}" type="hidden"
				th:each="value : ${p.value}" th:name="${p.key}" th:value="${value}" />
			</span>
		</form>

		<select id="selectpicker" class="selectpicker col-md-5 nopadding-right"
			onchange="window.location=decodeURIComponent(this.options[this.selectedIndex].value);"
			th:if="${#httpServletRequest.queryString != null and param.sort!=null}">
			<option th:each="field : ${page.sortableFields}"
				th:if="${field.canSortAsc()}"
				th:with="aux='sort=' + ${field.name} + ',asc'"
				th:value="@{${#httpServletRequest.requestURL.append('?' + #httpServletRequest.queryString.replaceAll('sort=[^&amp;;]*', aux))}}"
				th:text="#{|sort.${field.name}.asc|}"
				th:attr="selected=${page.sort!=null and page.sort.getOrderFor(field.name)!=null and page.sort.getOrderFor(field.name).getDirection().toString()=='ASC'}">
			</option>


			<option th:each="field : ${page.sortableFields}"
				th:if="${field.canSortDesc()}"
				th:with="aux='sort=' + ${field.name} + ',desc'"
				th:value="@{${#httpServletRequest.requestURL.append('?' + #httpServletRequest.queryString.replaceAll('sort=[^&amp;;]*', aux))}}"
				th:text="#{|sort.${field.name}.desc|}"
				th:attrappend="selected=${page.sort!=null and page.sort.getOrderFor(field.name)!=null and page.sort.getOrderFor(field.name).getDirection().toString()=='DESC'}">
			</option>
		</select> <select id="selectpicker" class="selectpicker col-md-5 nopadding-right"
			onchange="window.location=decodeURIComponent(this.options[this.selectedIndex].value);"
			th:if="${#httpServletRequest.queryString != null and param.sort==null}">
			<option th:each="field : ${page.sortableFields}"
				th:if="${field.canSortAsc()}"
				th:with="aux='sort=' + ${field.name} + ',asc'"
				th:value="@{${#httpServletRequest.requestURL.append('?' + #httpServletRequest.queryString + '&amp;' + aux)}}"
				th:text="#{|sort.${field.name}.asc|}"
				th:attr="selected=${page.sort!=null and page.sort.getOrderFor(field.name)!=null and page.sort.getOrderFor(field.name).getDirection().toString()=='ASC'}">
			</option>


			<option th:each="field : ${page.sortableFields}"
				th:if="${field.canSortDesc()}"
				th:with="aux='sort=' + ${field.name} + ',desc'"
				th:value="@{${#httpServletRequest.requestURL.append('?' + #httpServletRequest.queryString.replaceAll('sort=[^&amp;;]*', aux))}}"
				th:text="#{|sort.${field.name}.desc|}"
				th:attrappend="selected=${page.sort!=null and page.sort.getOrderFor(field.name)!=null and page.sort.getOrderFor(field.name).getDirection().toString()=='DESC'}">
			</option>

		</select> <select id="selectpicker" class="selectpicker col-md-5 nopadding-right"
			onchange="window.location=decodeURIComponent(this.options[this.selectedIndex].value);"
			th:if="${#httpServletRequest.queryString == null}">
			<option th:each="field : ${page.sortableFields}"
				th:if="${field.canSortAsc()}"
				th:value="@{__${#httpServletRequest.requestURL}__(sort=${field.name} + ',asc')}"
				th:text="#{|sort.${field.name}.asc|}"
				th:attr="selected=${page.sort!=null and page.sort.getOrderFor(field.name)!=null and page.sort.getOrderFor(field.name).getDirection().toString()=='ASC'}">
			</option>

			<option th:each="field : ${page.sortableFields}"
				th:if="${field.canSortDesc()}"
				th:value="@{__${#httpServletRequest.requestURL}__(sort=${field.name} + ',desc')}"
				th:text="#{|sort.${field.name}.desc|}"
				th:attrappend="selected=${page.sort!=null and page.sort.getOrderFor(field.name)!=null and page.sort.getOrderFor(field.name).getDirection().toString()=='DESC'}">
			</option>

		</select>

		<div class="col-md-12" style="margin-bottom: 1em;"></div>


		<!-- OLD
	    		<ul>
	    		<li th:each="field : ${page.sortableFields}">
	    			<span>
	    				<span th:text="${field.displayName}">Field name</span>:
						<a href="#"
							th:href="@{${#httpServletRequest.requestURL.append('?').append(#httpServletRequest.queryString)}(sort=${field.name}+',asc')}"
							th:class="${page.sort!=null and page.sort.getOrderFor(field.name)!=null and page.sort.getOrderFor(field.name).getDirection().toString()=='ASC'} ? 'disabled' : ''">
							ASC
						</a>
	    				<a href="#"
	    					th:href="@{'?sort='+${field.name}+',desc'}"
	    					th:class="${page.sort!=null and page.sort.getOrderFor(field.name)!=null and page.sort.getOrderFor(field.name).getDirection().toString()=='DESC'} ? 'disabled' : ''">
	    					DESC
	    				</a>
	    			</span>
	    		</li>
	    		</ul>
	    		 -->

	</div>
</body>
</html>