#notificationBox .panel-body {
	padding: 0;
}

#notificationBox .list-group-item {
	border-right-style: none;
	border-left-style: none;
	border-radius: 0;
}

#sellersBox .panel-body {
	padding: 0;
}

#notificationBox .list-entry a img {
	width: 50px;
	height: 50px;
	float: left;
	margin-right: -15px;
}

#notificationBox .list-entry a {
	margin-left: 15px;
}

#sellersBox .list-group-item {
	border-right-style: none;
	border-left-style: none;
	border-radius: 0;
}

#shopsBox .panel-body {
	padding: 0;
}

#shopsBox .list-group-item {
	border-right-style: none;
	border-left-style: none;
	border-radius: 0;
}

div.list-entry.list-group-item {
	float: left;
	width: 100%;
	border-top: 1px solid #ddd;
}

div.list-entry.list-group-item:hover {
	background-color: #eee;
}

div.list-entry.list-group-item img {
	margin-left: auto;
	margin-right: auto; 
}

div.list-entry.list-group-item p.list-group-item-text{
	min-height: 2em;
}

div.list-entry.list-group-item .list-group-item-text.description{
	font-size: 90%;
	min-height: 2.5em;
}

div.list-entry.list-group-item .list-group-item-text.address{
	min-height: inherit;
}

div.list-entry.list-group-item .list-group-item-text.vat{
	min-height: inherit;
}

div.list-entry.list-group-item .list-group-item-text.phone{
	min-height: inherit;
}

@media screen and (min-width: 992px) {
		
	div.list-entry.list-group-item img {
		height: 11em;
	}
}

