.modal-vertical-centered {
  transform: translate(0, 40%) !important;
}

.content-wrapper {
	margin-top:1em;
}

.page-wrapper {
	margin-top:50px;
}

.omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}

.page-content {
	min-height: 750px;
}

.avatar {
	width: 150px;
	height: 150px;
}

.navbar-login .avatar {
	width: 100%;
	height: 100%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.selectpicker+.bootstrap-select.input-group-btn {
	width: 1%;
}

.selectpicker+.bootstrap-select.input-group-btn > .selectpicker.input-group-addon {
	line-height: inherit;
	width: 10em;
}

#search-button {
	cursor: pointer;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
}

#search-button-click {
	display: none;
}

.nopadding-right {
	padding-right: 0 !important;
}

.nopadding-left {
	padding-left: 0 !important;
}

.nopadding {
	padding: 0 !important;
}