div.deal-entry.list-group-item {
	float: left;
	width: 100%;
}

div.deal-entry.list-group-item:hover {
	background-color: #eee;
}

div.deal-entry.list-group-item img {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto; 
}

div.deal-entry.list-group-item p.list-group-item-text{
	min-height: 3em;
}

@media screen and (min-width: 992px) {
		
	div.deal-entry.list-group-item {
		height: 15em;
	}
	
	div.deal-entry.list-group-item img {
		height: 11em;
	}
	
	div.deal-entry.list-group-item p.list-group-item-text{
		height: 10em;
	}
}

a.deal-price {
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-weight: bold;
}

a.deal-price>span {
	font-size: 140%;
}

a.deal-price>del>span{
	font-size: 70%;
}

.discount-percentage {
	font-size: 120%;
	display: block;
}

.discount-reason {
	display: block;
}

.well h3+span {
	margin-left: 20px;
}