/*!
 * Start Bootstrap - Landing Page Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

/*NAVBAR Button*/
.btn-navbar { 
  color: #000000; 
  background-color: #FFFFFF; 
  border-color: #7498F2; 
} 

.btn-navbar.selected,
.btn-navbar.selected:hover {   
  background-color: white;
  background: linear-gradient(to bottom, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C */
  font-weight: bold;  
} 
 
.btn-navbar:active, 
.btn-navbar:hover, 
.btn-navbar:focus, 
.open .dropdown-toggle.btn-navbar { 
  color: #000000; 
  background-color: #e6e6e6; 
  border-color: #7498F2; 
} 
 
.open .dropdown-toggle.btn-navbar { 
  background-image: none; 
} 
 
.btn-navbar.disabled, 
.btn-navbar[disabled], 
fieldset[disabled] .btn-navbar, 
.btn-navbar.disabled:hover, 
.btn-navbar[disabled]:hover, 
fieldset[disabled] .btn-navbar:hover, 
.btn-navbar.disabled:focus, 
.btn-navbar[disabled]:focus, 
fieldset[disabled] .btn-navbar:focus, 
.btn-navbar.disabled:active, 
.btn-navbar[disabled]:active, 
fieldset[disabled] .btn-navbar:active, 
.btn-navbar.disabled.active, 
.btn-navbar[disabled].active, 
fieldset[disabled] .btn-navbar.active { 
  background-color: #FFFFFF; 
  border-color: #7498F2; 
} 
 
.btn-navbar .badge { 
  color: #FFFFFF; 
  background-color: #000000; 
}
/*-end-*/

.navbar-default {
    background-color: #127EE8;
    color:white;
    border-width: 0;
    /*border-bottom-width: thick;*/
    /*border-color: rgba(255, 255, 255, 0.55);*/
    box-shadow: 1px 3px 5px 2px black;
}

.navbar-default .navbar-brand {
    color:white;
    text-shadow:1px 2px 3px black;
    font-size: 1.8em;
}

.navbar-default .navbar-brand:hover {
    text-decoration: underline;
    color:white;
}