    .login-dialog .btn-login {        
        background-color: #127EE8;
        border-radius: 2px;
        padding: 10px;
        font-size: 27px;
        color: white;
        padding: 10px;
        width: 100%;
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomright: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .login-dialog .btn-login:hover {
        background-color: #8FC0F0;
    }

    .hidden {
        display: none;
    }

    .visible {
        display: normal;
    }

    .colored {
        background-color: #F0EEEE;
    }

    .login-dialog .row {
        padding: 20px 0px;
    }

    .login-dialog .bigicon {
        font-size: 97px;
        color: #f96145;
    }

    .login-dialog .contcustom {
        text-align: center;
        /*width: 300px;*/
        border-radius: 0.5rem;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 10px auto;
        background-color: white;
        /*padding: 20px;*/
    }

    .login-dialog input {
        width: 100%;
        margin-bottom: 17px;
        padding: 15px;
        background-color: #ECF4F4;
        border-radius: 2px;
        border: none;
    }

    .login-dialog h2 {
        margin-bottom: 20px;
        font-weight: bold;
        color: #ABABAB;
    }

   

    .login-dialog .med {
        font-size: 27px;
        color: white;
    }