html,body{
  	height:100%;
}

body{
  	padding-top:50px; /*padding for navbar*/
}


.navbar-custom .navbar-right {
	color: black;	
}

.navbar-custom .icon-bar {
	background-color:#fff;
}

.navbar-custom {
	background-color: #168ccc;
    color:#fff;
}

.navbar-custom li>a:hover, .navbar-custom li.open>a, .navbar-custom li.open>a:hover, .navbar-custom li.open>a:focus {
	background-color:#49bfff;
}

.navbar-custom li>a:focus {
	background-color: #168ccc;
}

.navbar-custom a{
    color:#fefefe;
}

.navbar-custom .form-control:focus {
	border-color: #49bfff;
	outline: 0;
	-webkit-box-shadow: inset 0 0 0;
	box-shadow: inset 0 0 0;
}

#main, #main>.row {
	height:100%;
}

#main>.row {
    overflow-y:scroll;
}

#left {
	height:100%;
}

#map-canvas {
	width:33.3333%;
    height:calc(100% - 0);
    position:absolute;
    right:16px;
    top:50px;
    bottom:0;
    overflow:hidden;
}


.navbar-login
{
    width: 22em;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

@media(max-width: 767px) {
	.icon-size {
		display: none;
	}
	.user-info {
		display: none;
	}
}

/*
To clear Bootstrap updates
*/

.navbar-form .input-group .input-group-btn.navbar-custom-input-group-addon ,
.navbar-form .input-group .input-group-addon.navbar-custom-input-group-addon {
	width: 1%;
}

.navbar-form .input-group.navbar-custom-input-group {
	display: table;
}

.navbar-login .col-lg-4 {
	padding-right: 0;
}

.navbar-custom .navbar-right .badge {
	background-color: #d9534f;
}

#notificationMenu.dropdown-toggle {
	width: 6em;
	text-align: right;
}

#notificationMenu+ul.dropdown-menu {
	width: 25em;
}

#notificationMenu+ul.dropdown-menu.bullet {
	padding: 0;
	
}

#notificationMenu+ul.dropdown-menu.bullet:after {
	border-bottom-color: #e6e6e6;
}

#notificationMenu+ul.dropdown-menu p.notification-header {
	color: #2a6496;
	background-color: #e6e6e6;
	display: block;
	text-align: center;
	padding: 10px;
	margin: 0;
}


#notificationMenu+ul.dropdown-menu .photo {
	float: left;
}

#notificationMenu+ul.dropdown-menu .photo img{
	width: 40px;
	height: 40px;
	border-radius: 2px 2px 2px 2px;
}

#notificationMenu+ul.dropdown-menu .subject {
	display: block;
	padding-left: 50px;
}

#notificationMenu+ul.dropdown-menu .from {
	font-weight: bold;
}

#notificationMenu+ul.dropdown-menu .time {
	position: absolute;
	right: 10px;
	font-style: italic;
	font-size: 90%
}

#notificationMenu+ul.dropdown-menu .message {
	display: block;
	padding-left: 50px;
}

#notificationMenu+ul.dropdown-menu li a {
	border-bottom: 1px solid #ddd;
	padding: 15px;
}

