#shop-carousel img {
	width: 100%;
	height: 30em;
}

#shop-carousel .carousel-inner p {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 150%;
}

.thumbnail .caption-full {
	padding: 1em;
}

.shop-description {
	min-height: 3em;
}

@media screen and (max-width: 992px) {
	ul.sidebar-nav[data-spy="affix"] {
		position: relative;
	}
}

.shop-image .input-group.col-md-8 {
	padding-right: 15px;
	padding-left: 15px;
}

span.slash {
	font-size: 160%;
	margin-left: -8px;
	margin-right: -7px;
}

div.shop-entry.list-group-item {
	float: left;
	width: 100%;
}

div.shop-entry.list-group-item:hover {
	background-color: #eee;
}

div.shop-entry.list-group-item img {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto; 
}

div.shop-entry.list-group-item p.list-group-item-text{
	min-height: 1.5em;
}

@media screen and (min-width: 992px) {
		
	div.shop-entry.list-group-item {
		height: 15em;
	}
	
	div.shop-entry.list-group-item img {
		height: 11em;
	}
	
	div.shop-entry.list-group-item p.list-group-item-text{
		height: 3em;
	}
}