.mini-submenu {
	display: none;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid rgba(0, 0, 0, 0.9);
	border-radius: 4px;
	padding: 9px;
	/*position: relative;*/
	width: 42px;
}

.mini-submenu:hover {
	cursor: pointer;
}

.mini-submenu .icon-bar {
	border-radius: 1px;
	display: block;
	height: 2px;
	width: 22px;
	margin-top: 3px;
}

.mini-submenu .icon-bar {
	background-color: #000;
}

#slide-submenu {
	background: rgba(0, 0, 0, 0.45);
	display: inline-block;
	padding: 0 8px;
	border-radius: 4px;
	cursor: pointer;
}

.sidebar-nav li a {
	border-bottom: 1px solid #ddd;
	/*color:#7b7a7e;*/
}

.sidebar-nav li a i {
	margin-right: 20px;
}

.sidebar-nav li.active {
	background-color: #eee;
}

.sidebar-nav li.active a {
	color: #2a6496;
}

.sidebar-nav>li+li {
	margin: 0;
}

.filters {
	display: block;
	padding: 10px 15px;
	color: #428bca;
	font-size: 130%;
}

.filter-name {
	display: block;
	padding: 10px 15px;
	font-size: 110%;
	border-top: 1px solid #ddd;
}

.filter-name.empty {
	padding: 0;
}


.filter-name~div.bootstrap-select.form-control {
	width: 80%;	
	margin-left: 10%;
	margin-bottom: 10px;
}

.filter-name~div .selectpicker {
}

.filter-min-max {
	display: inline-block;
	width: 50%; 
	padding : 10px 15px;
	font-size: 100%;
	padding: 10px 15px;
	text-align: right;
}

.filter-min-max+.form-control {
	display: inline-block;
	width: 40%
}

.form-control[type ~= submit] {
	background-color: #428bca;
	color: white;
	margin-top: 2em;
	width: 90%;
}

.filter-checkbox {
	display: inline-block;
	width: 80%; 
	padding : 10px 15px;
	font-size: 110%;
	padding: 10px 15px;
}

.filter-checkbox+.form-control {
	display: inline;
	width: 10%;
	vertical-align: top;
}