<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<div>
		<div th:fragment="adminNotificationRow"
			class="admin-notification-entry">

			<div class="col-md-12">

				<div class="panel panel-info" id="shopsBox"
					th:if="${notification.shop != null}">
					<div class="panel-heading">
						<div class="panel-title">Shop Request</div>
					</div>

					<div class="panel-body">

						<div class="list-group">
							<div class="list-entry list-group-item"
								th:with="shop=${notification.shop}, shopLink=@{/admin/shops/{id}(id=${shop.id})}">
								<div class="media col-md-3">
									<a th:href="${shopLink}"> <img
										class="media-object img-rounded img-responsive"
										th:src="@{${shop.image}}" src="//placehold.it/350x250"
										alt="placehold.it/350x250" />
									</a>
								</div>
								<div class="col-md-6">
									<h3 class="list-group-item-heading">
										<a th:href="${shopLink}" th:text="${shop.name}">Shop name</a>
									</h3>

									<p class="list-group-item-text description"
										th:text="${#strings.abbreviate(shop.description, 150)}">Shop
										long description.</p>
									<p>
										<span>Address: </span> <span
											class="list-group-item-text address"
											th:text="${shop.address}">Address</span>
									</p>
									<p>
										<span>VAT: </span> <span class="list-group-item-text vat"
											th:text="${shop.partitaIVA}">VAT Number</span>
									</p>
									<p>
										<span>Phone: </span> <span class="list-group-item-text phone"
											th:text="${shop.phoneNumber}">Phone Number</span>
									</p>
									<a href="#" th:href="@{/admin/users/{id}(id=${shop.owner.id})}"
										th:text="${shop.owner.ragioneSociale}">Owner</a>
								</div>
								<div class="col-md-3">
									<ul class="lsit-group">
										<li class="list-group-item" style="background-color: transparent; border-top-style: none;"><h4>Categories</h4></li>
										<li class="list-group-item" style="background-color: transparent;" th:each="cat : ${shop.categories}" th:text="${cat.name}">Category</li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-info" id="sellersBox"
					th:if="${notification.seller != null}">
					<div class="panel-heading">
						<div class="panel-title">Seller Request</div>
					</div>

					<div class="panel-body">

						<div class="list-group">
							<div class="list-entry list-group-item"
								th:with="seller=${notification.seller}, sellerLink=@{/admin/users/{id}(id=${seller.id})}">
								<div class="media col-md-3">
									<a th:href="${sellerLink}"> <img
										class="media-object img-rounded img-responsive"
										th:src="${seller.user.image==null}? @{/static/assets/img/profile-img.png} : ${seller.user.image}"
										src="//placehold.it/350x250" alt="placehold.it/350x250" />
									</a>
								</div>
								<div class="col-md-9">
									<h3 class="list-group-item-heading">
										<a th:href="${sellerLink}" th:text="${seller.ragioneSociale}">Shop
											name</a>
									</h3>
									<p>
										<span>VAT: </span> <span class="list-group-item-text vat"
											th:text="${seller.codiceFiscale}">VAT</span>
									</p>
									<p>
										<span>Phone: </span> <span class="list-group-item-text phone"
											th:text="${seller.phoneNumber}">Phone Number</span>
									</p>
									<p>
										<span>Username: </span> <span
											class="list-group-item-text username"
											th:text="${seller.user.username}">Username</span>
									</p>
									<p>
										<span>Name: </span> <span class="list-group-item-text name"
											th:text="${seller.user.firstName}">FirstName</span> <span
											class="list-group-item-text name"
											th:text="${seller.user.lastName}">LastName</span>
									</p>
									<p>
										<span>Email: </span> <a href="#"
											th:href="|mailto: ${seller.user.email}|"
											th:text="${seller.user.email}"
											class="list-group-item-text email">user@email.com</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>