<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/public-layout">

<!-- Page head -->
<head>
<title th:text="#{login.title}"></title>
</head>

<!-- Page body -->
<body>
	
	<div layout:fragment="show-error"></div>
	<div layout:fragment="content">
		<div class="container">
			<div id="loginbox" style="margin-top: 50px;"
				class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div class="panel panel-info">
					<div class="panel-heading">
						<div class="panel-title">Sign In</div>
						<div
							style="float: right; font-size: 80%; position: relative; top: -10px">
							<a href="#">Forgot password?</a>
						</div>
					</div>

					<div style="padding-top: 30px" class="panel-body">
					
						<div th:if="${errorMsg} != null" id="login-alert" class="alert alert-danger">
							<p th:text="${errorMsg}" class="help-block">Error message !</p>
						</div>
							
						<div class="form-horizontal">
							<form th:attr="action=@{/login}" method="POST" id="loginform"
								role="form">
								<div style="margin-bottom: 25px" class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-user"></i></span> <input
										id="login-username" type="text" class="form-control"
										name="username" value="" placeholder="username or email" />
								</div>
								<div style="margin-bottom: 25px" class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-lock"></i></span> <input
										id="login-password" type="password" class="form-control"
										name="password" placeholder="password" />
								</div>

								<div class="input-group">
									<div class="checkbox">
										<label> <input id="login-remember" type="checkbox"
											name="remember" value="1" /> Remember me
										</label>
									</div>
								</div>
								
		                        <input type="hidden" name="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" value="csrf.token"/>

								<div style="margin-top: 10px" class="form-group">
									<!-- Button -->
									<div class="col-sm-12 controls">
										<button type="submit" id="btn-login" class="btn btn-success">Login</button>
										<span style="margin-left: 8px;">or</span>
									</div>
								</div>
							</form>

							<div style="margin-top: 10px" class="form-group">
								<div class="col-sm-12 controls">
									<form th:attr="action=@{/auth/facebook}" method="get">
										<!-- Add Facebook sign in button -->
										<input type="hidden" name="scope" value="email,user_location" />
										<button type="submit" class="btn btn-primary btn-facebook">
											<i class="fa fa-facebook"> &nbsp; | Login with Facebook</i>
										</button>
									</form>
								</div>
							</div>

							<div class="form-group">
								<div class="col-md-12 control">
									<div
										style="border-top: 1px solid #888; padding-top: 15px; font-size: 85%">
										Don't have an account! <a th:attr="href=@{/registration}">
											Sign Up Here </a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>