<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/common-layout">

<!-- Page head -->
<head>
<title th:text="#{login.title}"></title>
</head>

<!-- Page body -->
<body>

	<div layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">                  
                	<h1>Login page</h1>  
                    <p th:if="${errorMessage} != null" th:text="${errorMessage}">Error message !</p>
                    <form th:attr="action=@{/login}" method="POST">
                        <input id="login-dialog-username" name="username" type="text" placeholder="username" onkeypress="check_values();"/>
                        <input id="login-dialog-password" name="password" type="password" placeholder="password" onkeypress="check_values();"/>
                        <input type="hidden" name="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" value="csrf.token"/>
                        <button type="submit" id="login-dialog-btn-submit" class="btn btn-login">
                            <span class="fa fa-lock medhidden"></span>
                        </button>
                    </form>
                </div>                
            </div>
			
			<div class="row">
                <div class="form-group col-lg-4">
                    <!-- Add create user account link -->
                    <a th:attr="href=@{/registration}">Create user account</a>
                </div>
            </div>
			
			<!-- Social Sign In Buttons -->
		    <div class="panel panel-default">
		        <div class="panel-body">
		            <h2><spring:message code="label.social.sign.in.title"/></h2>
		            <div class="row">
		                <div class="col-lg-4">
			                <form th:attr="action=@{/auth/facebook}" method="get">
			                    <!-- Add Facebook sign in button -->
			                    <input type="hidden" name="scope" value="email,user_location" />
			                    <button type="submit" class="btn btn-facebook"><i class="fa fa-facebook"> | Sign in with Facebook</i></button>
		                    </form>
		                </div>
		                
		                <div class="col-lg-4">
		                	<form th:attr="action=@{/auth/twitter}" method="get">
		                    <!-- Add Twitter sign in button -->
		                    <!-- TODO: Change scope -->
		                   	<input type="hidden" name="scope" value="" />
		                    <button class="btn btn-twitter" type="submit"><i class="fa fa-twitter"> | Sign in with Twitter</i></button>
		                    </form>
		                </div>
		            </div>
		        </div>
		    </div>
        </div>
        <!-- /.container -->

	</div>
	<!-- End content -->
</body>

</html>