<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layouts/common-layout">

<head>
    <!-- Sidebar CSS -->
    <link href="css/sidebar.css" th:href="@{/static/assets/css/sidebar.css}" rel="stylesheet"/>
</head>

<body>

    <!-- Navigation -->
    <nav layout:fragment="nav-header" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}">Last Minute Food</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
           <!-- Authenticated NavBar -->
             <div sec:authorize="!isAnonymous()" layout:fragment="nav-bar" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">            	          
                <ul class="nav navbar-nav navbar-right">
                	<a th:href="@{/accounts/me}" th:text="${#authentication.principal.internalUser.name}" style="color:white">
                        User name
                	</a>                    
                    <a id="logout" href="/logout" th:href="@{/logout}" class="btn btn-navbar navbar-btn">
                        Logout
                    </a>
                    <a href="#" th:href="@{/home}" class="btn btn-navbar navbar-btn">
                        Home
                    </a>
                    <a href="#" th:href="@{/about}" class="btn btn-navbar navbar-btn">
                        About
                    </a>
                    <a href="#" class="btn btn-navbar navbar-btn">
                        Contact
                    </a>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
 
    <!-- Page Content -->
    <!-- Sub-Page Content -->
    <div layout:fragment="wrapper-content" class="content-wrapper">
	    <div class="container-fluid page-wrapper">
	        <div class="row page-wrapper-row">
	            <div id="sidebar-wrapper" class="col-lg-2">
	                <!--Lateral Navigation Menu--> 
	                <ul sec:authorize="!hasRole('ROLE_ADMIN')" class="sidebar-nav">
	                    <li class="sidebar-brand">
	                        <a href="#">
	                            Start Bootstrap
	                        </a>
	                    </li>
	                    <li>
	                        <a href="#" th:href="@{/home}">Home</a>
	                    </li>
	                    <li>
	                        <a href="#" th:href="@{/accounts/me}">Profile</a>
	                    </li>
	                    <li>
	                        <a href="#" th:href="@{/deals}">Deals</a>
	                    </li>
	                    <li>
	                        <a href="#" th:href="@{/shops}">Shops</a>
	                    </li>
	                    <li sec:authorize="hasRole('ROLE_SELLER')">
	                        <a href="#" th:href="@{/shops/my}">Seller Profile</a>
	                    </li>
	                </ul>
	                <ul sec:authorize="hasRole('ROLE_ADMIN')" class="sidebar-nav">
	                    <li class="sidebar-brand">
	                        <a href="#">
	                            Admin Menu
	                        </a>
	                    </li>
	                    <li>
	                        <a href="#" th:href="@{/home}">Home</a>
	                    </li>
	                    <li>
	                        <a href="#" th:href="@{/accounts/me}">Profile</a>
	                    </li>
	                    <li>
	                        <a href="#" th:href="@{/admin/notifications}">Admin Notifications</a>
	                    </li>
	                    <li>
	                        <a href="#" th:href="@{/admin/requests}">Requests</a>
	                    </li>
	                </ul>
	            </div>
	            <div class="col-lg-10">
	                <!-- Sub-Page Content -->
	                <div layout:fragment="content">
	
	                    <div class="container">
	
	                        <div class="row">
	                            <div class="col-lg-5 col-sm-6">
	                                <hr class="section-heading-spacer"/>
	                                <div class="clearfix"></div>
	                                <h2 class="section-heading">Death to the Stock Photo:<br/>Special Thanks</h2>
	                                <p class="lead">A special thanks to <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a> for providing the photographs that you see in this template. Visit their website to become a member.</p>
	                            </div>
	                            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
	                                <img class="img-responsive" src="img/ipad.png" alt=""/>
	                            </div>
	                        </div>
	
	                    </div>
	                    <!-- /.container -->
	
	                </div>
	                <!-- /.page-content -->
	            </div>
	        </div> <!-- /.row -->
	    </div> <!-- /.container-fluid page-wrapper -->
	</div> <!-- Page content -->

</body>

</html>