<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Last Minute Food" />
	<meta name="author" content="Federico Angaramo, Lorenzo Biava" />

	<!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
	<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Last Minute Food</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" th:href="@{/static/assets/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Common Custom CSS -->
    <link href="css/common.css" th:href="@{/static/assets/css/common.css}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="css/landing-page.css" th:href="@{/static/assets/css/landing-page.css}" rel="stylesheet"/>

    <!-- LoginDialog CSS -->
    <link href="css/login-dialog.css" th:href="@{/static/assets/css/login-dialog.css}" rel="stylesheet"/>

	<!-- Social Buttons -->
    <link href="css/social-buttons-3.css" th:href="@{/static/assets/css/social-buttons-3.css}" rel="stylesheet"/>
    
    <!-- Custom Fonts -->
    <link href="fonts/font-awesome-4.2.0/css/font-awesome.min.css" th:href="@{/static/assets/fonts/font-awesome-4.2.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav layout:fragment="nav-header" class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}">Last Minute Food</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div layout:fragment="nav-bar" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">            	          
                <ul class="nav navbar-nav navbar-right">
                	<a sec:authorize="!isAnonymous()" th:href="@{/accounts/me}" th:text="${#authentication.principal.internalUser.name}" style="color:white">
                        User name
                	</a>  
                    <a sec:authorize="isAnonymous()" id="show-login-dialog" href="#" class="btn btn-navbar navbar-btn">
                        Sign in
                    </a>
                    <a sec:authorize="!isAnonymous()" id="logout" href="/logout" th:href="@{/logout}" class="btn btn-navbar navbar-btn">
                        Logout
                    </a>
                    <a href="#" class="btn btn-navbar navbar-btn">
                        Sign up
                    </a>
                    <a href="/home" class="btn btn-navbar navbar-btn">
                        About
                    </a>
                    <a href="#" class="btn btn-navbar navbar-btn">
                        Contact
                    </a>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
 
 	<!-- Error popup -->
 	<div layout:fragment="show-error">
	 	<div th:if="${errorMsg} != null" id="error-dialog-wrapper" class="modal fade in">
	        <div class="modal-dialog modal-sm modal-vertical-centered">
	            <div class="modal-content">   
	            	<div class="modal-header">
	                	<h4>Error occurred</h4>
	                </div>
	                <div class="modal-body">
	                	<span th:text="${errorMsg}">Error message</span>                  
	                </div>
	            </div>               
	        </div>
	    </div>
    </div>
 
 	<!-- Landing Page Header -->
 	<div layout:fragment="landing-header">
 		<div style="padding-top:50px"></div>
 	</div>
 
    <!-- Page Content -->
    <div layout:fragment="wrapper-content" class="content-wrapper">
		<div layout:fragment="content">
	        <div class="container">
	
	            <div class="row">
	                <div class="col-lg-5 col-sm-6">
	                    <hr class="section-heading-spacer"/>
	                    <div class="clearfix"></div>
	                    <h2 class="section-heading">Death to the Stock Photo:<br/>Special Thanks</h2>
	                    <p class="lead">A special thanks to <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a> for providing the photographs that you see in this template. Visit their website to become a member.</p>
	                </div>
	                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
	                    <img class="img-responsive" src="img/ipad.png" alt=""/>
	                </div>
	            </div>
	
	        </div>
	        <!-- /.container -->
		</div>
    </div>
    <!-- /.content-wrapper-->
		
    <!-- Footer -->
    <footer th:replace="fragments/footer :: footer" class="cols-xs-12 page-footer text-center"></footer>    

    <!-- Login Dialog -->
    <div th:include="fragments/login/login_dialog :: login-dialog" id="login-dialog-wrapper" class="modal fade"></div>

    <!-- jQuery -->
    <script src="js/jquery.js" th:src="@{/static/assets/js/jquery.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js" th:src="@{/static/assets/js/bootstrap.min.js}"></script>

    <!-- Common JS -->
    <script src="js/common.js" th:src="@{/static/assets/js/common.js}"></script>

</body>

</html>