<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Last Minute Food" />
<meta name="author" content="Federico Angaramo, Lorenzo Biava" />

<!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Last
	Minute Food</title>

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css"
	th:href="@{/static/assets/css/bootstrap.min.css}" rel="stylesheet" />

<!-- Common Custom CSS -->
<link href="css/common.css" th:href="@{/static/assets/css/common.css}"
	rel="stylesheet" />

<!-- NavBar Custom CSS -->
<link href="css/navbar.css" th:href="@{/static/assets/css/navbar.css}"
	rel="stylesheet" />

<!-- SideBar Custom CSS -->
<link href="css/sidebar.css" th:href="@{/static/assets/css/sidebar.css}"
	rel="stylesheet" />

<!-- Custom CSS -->
<link href="css/landing-page.css"
	th:href="@{/static/assets/css/landing-page.css}" rel="stylesheet" />

<!-- LoginDialog CSS -->
<link href="css/login-dialog.css"
	th:href="@{/static/assets/css/login-dialog.css}" rel="stylesheet" />

<!-- Social Buttons -->
<link href="css/social-buttons-3.css"
	th:href="@{/static/assets/css/social-buttons-3.css}" rel="stylesheet" />

<!-- Bootstrap Select CSS -->
<link href="css/bootstrap-select.min.css"
	th:href="@{/static/assets/css/bootstrap-select.min.css}"
	rel="stylesheet" />

<!-- Bootstrap Select CSS -->
<link href="css/dropdowns-enhancement.min.css"
	th:href="@{/static/assets/css/dropdowns-enhancement.min.css}"
	rel="stylesheet" />

<!-- Custom Fonts -->
<link href="fonts/font-awesome-4.2.0/css/font-awesome.min.css"
	th:href="@{/static/assets/fonts/font-awesome-4.2.0/css/font-awesome.min.css}"
	rel="stylesheet" type="text/css" />
<link
	href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
	rel="stylesheet" type="text/css" />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<!-- Navigation -->
	<div layout:fragment="nav-header"
		class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
			<!-- 
				<a sec:authorize="isAnonymous()" class="navbar-brand" th:href="@{/}"
					href="#">LastMinuteFood</a> <a sec:authorize="!isAnonymous()"
					class="navbar-brand" th:href="@{/home}" href="#">LastMinuteFood</a>
			-->
			<a class="navbar-brand" th:href="@{/}" href="#">LastMinuteFood</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="#" th:href="@{/deals}">Deals</a></li>
					<li><a href="#" th:href="@{/shops}">Shops</a></li>
					<li>&nbsp;</li>
				</ul>


				<!-- Navigation Bar for LOGGED USER -->
				<ul sec:authorize="!isAnonymous()" layout:fragment="nav-right-panel"
					th:object="${#authentication.principal}"
					class="nav navbar-nav navbar-right">
					<li>&nbsp;</li>
					<li class="dropdown" id="profile-dropdown"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown"> <span
							class="glyphicon glyphicon-user"></span> <strong
							th:text="*{internalUser.username}">Username</strong> <span
							class="caret"></span>
					</a>
						<ul class="dropdown-menu bullet pull-right">
							<li>
								<div class="navbar-login">
									<div class="row">
										<div class="col-lg-4">
											<img
												th:src="*{internalUser.image == null}? @{/static/assets/img/profile-img.png} : *{internalUser.image}"
												src="//placehold.it/100" class="avatar img-circle"
												alt="avatar" />
											<!-- 
								<p class="text-center">
									<span class="glyphicon glyphicon-user icon-size"></span>
								</p>
								 -->
										</div>
										<div class="col-lg-8">
											<p class="text-left user-info">
												<strong th:text="|*{firstName} *{lastName}|">FirstName
													LastName</strong>
											</p>
											<p class="text-left small uesr-info"
												th:text="*{internalUser.email}">user@email.com</p>
											<a th:href="@{/accounts/me}" href="#"
												class="btn btn-primary btn-block btn-sm">Profile</a>
										</div>
									</div>
								</div>
							</li>
							<li th:if="*{internalUser.isAdmin() or internalUser.isSeller()}"
								class="divider"></li>
							<li th:if="*{isApprovedSeller()}">
								<div class="navbar-login navbar-login-session">
									<div class="row">
										<div class="col-lg-12">
											<p>
												<a th:href="@{/shops/my}" href="#"
													class="btn btn-warning btn-block">My Shops</a>
											</p>
										</div>
									</div>
								</div>
							</li>
							<li th:if="*{internalUser.isAdmin()}">
								<div class="navbar-login navbar-login-session">
									<div class="row">
										<div class="col-lg-12">
											<p>
												<a th:href="@{/admin}" href="#"
													class="btn btn-warning btn-block">Admin</a>
											</p>
										</div>
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="navbar-login navbar-login-session">
									<div class="row">
										<div class="col-lg-12">
											<p>
												<a th:href="@{/logout}" href="#"
													class="btn btn-danger btn-block">Logout</a>
											</p>
										</div>
									</div>
								</div>
							</li>
						</ul></li>

					<li class="dropdown"><a href="#" class="dropdown-toggle"
						id="notificationMenu" data-toggle="dropdown"> <span
							class="badge"></span> <span class="glyphicon glyphicon-bell"></span>
							<span class="caret"></span>
					</a>


						<ul class="dropdown-menu bullet pull-right" role="menu">
							<!-- 
							<li>
								<p class="notification-header">You have 2 new messages</p>
							</li>
							<li><a href="#"> <span class="photo"><img
										alt="avatar" src="//placehold.it/40x40"/></span> <span
									class="subject"> <span class="from">Shop Name 2</span> <span
										class="time">Just now</span>
								</span> <span class="message">New Deal published in Category...</span>
							</a></li>

							<li><a href="#"> <span class="photo"><img
										alt="avatar" src="//placehold.it/40x40"/></span> 
										<span
									class="subject"> 
									<span class="from">Shop Name</span> <span
										class="time">2 hrs.</span>
								</span> <span class="message">New Deal in Fish</span>
							</a></li>

							<li><a href="#">See all messages</a></li>
							 -->
						</ul></li>
				</ul>

				<!-- PUBLIC Navigation Bar -->
				<ul sec:authorize="isAnonymous()" layout:fragment="nav-right-panel"
					class="nav navbar-nav navbar-right">
					<li>&nbsp;</li>
					<li><a href="#" th:href="@{/registration}">Sign Up</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">Sign in <b class="caret"></b></a>
						<ul class="dropdown-menu" style="padding: 15px; min-width: 250px;">
							<li>
								<div class="row">
									<div class="col-md-12">
										<form class="form" role="form" method="post" action="login"
											accept-charset="UTF-8" id="login-nav">
											<div class="form-group">
												<label class="sr-only" for="exampleInputEmail2">Email
													address</label> <input type="email" name="username"
													class="form-control" id="exampleInputEmail2"
													placeholder="Email address" required="required" />
											</div>
											<div class="form-group">
												<label class="sr-only" for="exampleInputPassword2">Password</label>
												<input type="password" class="form-control" name="password"
													id="exampleInputPassword2" placeholder="Password"
													required="required" />
											</div>
											<div class="checkbox">
												<label> <input type="checkbox" /> Remember me
												</label>
											</div>
											<div class="form-group">
												<button type="submit" class="btn btn-success btn-block">Sign
													in</button>
											</div>
											<input type="hidden" th:name="${_csrf.parameterName}"
												th:value="${_csrf.token}" />
										</form>
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<form th:attr="action=@{/auth/facebook}" method="get"
									class="form-horizontal">
									<!-- Add Facebook sign in button -->
									<input type="hidden" name="scope" value="email,user_location" />
									<button type="submit"
										class="btn btn-primary btn-block btn-facebook">
										<i class="fa fa-facebook"> &nbsp; | Login with Facebook</i>
									</button>
								</form>
							</li>
						</ul></li>
				</ul>


				<form th:if="${dealSearchForm!=null}" class="navbar-form"
					th:attr="action=@{/deals}" action="#" method="get"
					th:object="${dealSearchForm}">
					<div class="form-group" style="display: inline;">
						<div class="input-group navbar-custom-input-group">

							<select class="selectpicker show-menu-arrow"
								th:field="*{categories}" name="categories" data-size="7"
								title='Choose Category..'
								data-style="btn btn-default input-group-addon">
								<option value="" selected="selected">All Categories</option>
								<option th:each="cat : ${@dealCategories}" th:value="${cat.id}"
									th:text="${cat.name}"></option>
							</select> <input type="text" th:field="*{name}" name="name"
								class="form-control" placeholder="What are you searching for?" />
							<span id="search-button"
								class="input-group-addon navbar-custom-input-group-addon">
								<span class="glyphicon glyphicon-search"></span>
							</span>
							<input type="submit" id="search-button-click"/>
						</div>
					</div>
				</form>
				<form th:if="${dealSearchForm==null}" class="navbar-form"
					th:attr="action=@{/deals}" action="#" method="get">
					<div class="form-group" style="display: inline;">
						<div class="input-group navbar-custom-input-group">

							<select class="selectpicker show-menu-arrow" name="categories"
								data-size="7" title='Choose Category..'
								data-style="btn btn-default input-group-addon">
								<option value="" selected="selected">All Categories</option>
								<option th:each="cat : ${@dealCategories}" th:value="${cat.id}"
									th:text="${cat.name}"></option>
							</select> <input type="text" name="name" class="form-control"
								placeholder="What are you searching for?" /> <span id="search-button"
								class="input-group-addon navbar-custom-input-group-addon">
								<span class="glyphicon glyphicon-search"></span>
							</span>
							<input type="submit" id="search-button-click"/>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>

	<!-- Error popup -->
	<div layout:fragment="show-error">
		<div th:if="${errorMsg} != null" id="error-dialog-wrapper"
			class="modal fade in">
			<div class="modal-dialog modal-sm modal-vertical-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h4>Error occurred</h4>
					</div>
					<div class="modal-body">
						<span th:text="${errorMsg}">Error message</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Landing Page Header -->
	<div layout:fragment="landing-header"></div>

	<!-- Page Content -->
	<div layout:fragment="wrapper-content" class="content-wrapper">
		<div layout:fragment="content">
			<div class="container">

				<div class="row">
					<div class="col-lg-5 col-sm-6">
						<hr class="section-heading-spacer" />
						<div class="clearfix"></div>
						<h2 class="section-heading">
							Death to the Stock Photo:<br />Special Thanks
						</h2>
						<p class="lead">
							A special thanks to <a target="_blank"
								href="http://join.deathtothestockphoto.com/">Death to the
								Stock Photo</a> for providing the photographs that you see in this
							template. Visit their website to become a member.
						</p>
					</div>
					<div class="col-lg-5 col-lg-offset-2 col-sm-6">
						<img class="img-responsive" src="img/ipad.png" alt="" />
					</div>
				</div>

			</div>
			<!-- /.container -->
		</div>
	</div>
	<!-- /.content-wrapper-->

	<!-- Footer -->
	<footer th:replace="fragments/footer :: footer"
		class="cols-xs-12 page-footer text-center"></footer>

	<!-- Login Dialog -->
	<div th:include="fragments/accounting/login_dialog :: login-dialog"
		id="login-dialog-wrapper" class="modal fade"></div>

	<!-- jQuery new version don't support IE 6,7,8-->
	<!-- 
	<script src="js/jquery_v2.1.3.min.js"
		th:src="@{/static/assets/js/jquery_v2.1.3.min.js}"></script>
	 -->

	<!-- jQuery old version - support IE -->
	<script src="js/jquery_v1.11.1.js"
		th:src="@{/static/assets/js/jquery_v1.11.1.js}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"
		th:src="@{/static/assets/js/bootstrap.min.js}"></script>

	<!-- Common JS -->
	<script src="js/common.js" th:src="@{/static/assets/js/common.js}"></script>

	<!-- BoostrapSelection JS -->
	<script src="js/bootstrap-select.js"
		th:src="@{/static/assets/js/bootstrap-select.js}"></script>

	<script type="text/javascript">
		$(function() {
			$('.selectpicker').selectpicker();
		});
	</script>

	<!-- Moment JS -->
	<script src="js/moment.js" th:src="@{/static/assets/js/moment.js}"></script>

	<!-- Notification Loader JS -->
	<script sec:authorize="!isAnonymous()" src="js/notification_loader.js"
		th:src="@{/static/assets/js/notification_loader.js}"></script>

	<!-- Google -->
	<script src="https://apis.google.com/js/platform.js" async="async"
		defer="defer">
		{
			lang: 'it'
		}
	</script>
	
	<script type="text/javascript">
		$("#search-button").click(function () {
			$("#search-button-click").click();
		});
	</script>
	<div layout:fragment="js"></div>
</body>

</html>