<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layouts/common-layout">

<body>

    <!-- Navigation -->
    <nav layout:fragment="nav-header" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}">Last Minute Food</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- Anonymous NavBar -->
            <div sec:authorize="isAnonymous()" layout:fragment="nav-bar" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">            	          
                <ul class="nav navbar-nav navbar-right">            
                    <a id="show-login-dialog" href="#" class="btn btn-navbar navbar-btn">
                        Sign in
                    </a>                    
                    <a href="#" class="btn btn-navbar navbar-btn">
                        Sign up
                    </a>
                    <a href="#" th:href="@{/about}" class="btn btn-navbar navbar-btn">
                        About
                    </a>
                    <a href="#" class="btn btn-navbar navbar-btn">
                        Contact
                    </a>
                </ul>
            </div>
            <!-- Authenticated NavBar -->
             <div sec:authorize="!isAnonymous()" layout:fragment="nav-bar" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">            	          
                <ul class="nav navbar-nav navbar-right">
                	<a th:href="@{/accounts/me}" th:text="${#authentication.principal.internalUser.name}" style="color:white">
                        User name
                	</a>                    
                    <a id="logout" href="/logout" th:href="@{/logout}" class="btn btn-navbar navbar-btn">
                        Logout
                    </a>
                    <a href="#" th:href="@{/home}" class="btn btn-navbar navbar-btn">
                        Home
                    </a>
                    <a href="#" th:href="@{/about}" class="btn btn-navbar navbar-btn">
                        About
                    </a>
                    <a href="#" class="btn btn-navbar navbar-btn">
                        Contact
                    </a>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
 
    <!-- Page Content -->
    <div layout:fragment="wrapper-content" class="content-wrapper">
	    <div class="container-fluid page-wrapper">
	        <div class="row page-wrapper-row">
	            <div class="col-lg-12">
	                <!-- Sub-Page Content -->
	                <div layout:fragment="content" class="content-wrapper">
	
	                    <div class="container">
	
	                        <div class="row">
	                            <div class="col-lg-5 col-sm-6">
	                                <hr class="section-heading-spacer"/>
	                                <div class="clearfix"></div>
	                                <h2 class="section-heading">Death to the Stock Photo:<br/>Special Thanks</h2>
	                                <p class="lead">A special thanks to <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a> for providing the photographs that you see in this template. Visit their website to become a member.</p>
	                            </div>
	                            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
	                                <img class="img-responsive" src="img/ipad.png" alt=""/>
	                            </div>
	                        </div>
	
	                    </div>
	                    <!-- /.container -->
	
	                </div>
	                <!-- /.content-wrapper-->
	            </div>
	        </div> <!-- /.row -->	    
	    </div>
    </div> <!-- /.container-fluid page-wrapper -->

</body>

</html>